In [ ]:
# nested loops
for x in range(1,5):
  print("student",x)
  for j in range(1,4):
    print(" --- subject check --- ",j)

student 1
 --- subject check ---  1
 --- subject check ---  2
 --- subject check ---  3
student 2
 --- subject check ---  1
 --- subject check ---  2
 --- subject check ---  3
student 3
 --- subject check ---  1
 --- subject check ---  2
 --- subject check ---  3
student 4
 --- subject check ---  1
 --- subject check ---  2
 --- subject check ---  3

In [ ]:
# nested loops
for x in range(1,5):  #1,2,3,4               4,3,2,1
  print("student",x)
  for j in range(1,6-x):  #(1,2)
    print(" --- subject check --- ",j)

student 1
 --- subject check ---  1
 --- subject check ---  2
 --- subject check ---  3
 --- subject check ---  4
student 2
 --- subject check ---  1
 --- subject check ---  2
 --- subject check ---  3
student 3
 --- subject check ---  1
 --- subject check ---  2
student 4
 --- subject check ---  1

In [ ]:
for num in range(2,6):
  for i in range(1,11):
    print(num,"X",i ,"=",  i* num)

  print("-----")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
-----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
-----
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
-----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
-----

In [ ]:
num=19
num//10

1

In [ ]:
for num in range(2,8):
  a=0
  for i in range(2,num):
    if(num%2==0):
      a=1
      break

  if(a==0):
    print("Prime",num)
  else:
    print("Not prime",num)

Prime 2
Prime 3
Not prime 4
Prime 5
Not prime 6
Prime 7

In [ ]:
for num in range(400,451):
  total=0
  original=num
  while(num>0):
    rem1=num%10
    num=num//10
    total=total+rem1



  print("total =>",original,total)

total => 400 4
total => 401 5
total => 402 6
total => 403 7
total => 404 8
total => 405 9
total => 406 10
total => 407 11
total => 408 12
total => 409 13
total => 410 5
total => 411 6
total => 412 7
total => 413 8
total => 414 9
total => 415 10
total => 416 11
total => 417 12
total => 418 13
total => 419 14
total => 420 6
total => 421 7
total => 422 8
total => 423 9
total => 424 10
total => 425 11
total => 426 12
total => 427 13
total => 428 14
total => 429 15
total => 430 7
total => 431 8
total => 432 9
total => 433 10
total => 434 11
total => 435 12
total => 436 13
total => 437 14
total => 438 15
total => 439 16
total => 440 8
total => 441 9
total => 442 10
total => 443 11
total => 444 12
total => 445 13
total => 446 14
total => 447 15
total => 448 16
total => 449 17
total => 450 9

In [ ]:
for num in range(150,401):
  original=num
  total=0
  while(num>0):
    rem1=num%10
    num=num//10
    total=total + rem1**3

  if(original==total):
    print("armstrong", original)

armstrong 153
armstrong 370
armstrong 371

In [ ]:
for i in range(1,6):
  for j in range(1,5):
    print(j, end=" ")
  print("")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
print("hey", end="\n")
print("hllo")

hey$hllo

In [ ]:

for i in range(1,4):
  x=2
  for j in range(1,4):
    print(x, end=" ")
    x+=1
  print("")

2 3 4
2 3 4
2 3 4

In [ ]:

for i in range(1,4):
  x=2
  for j in range(1,4):
    print(x, end=" ")
    x+=1
  print("")

In [ ]:

for i in range(1,6):

  for j in range(1,i+1):
    print("*", end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *

In [ ]:

for i in range(1,5):

  for j in range(i,4):
    print("-", end=" ")
  print("")

- - -
- -
-

In [ ]:

for i in range(1,5):

  for j in range(1,5-i):
    print("-", end=" ")
  print("")

- - -
- -
-

In [ ]:

for i in range(1,5):

  for j in range(1,i+1):
    print("*", end=" ")
  print("")

*
* *
* * *
* * * *

In [ ]:

for i in range(1,5):

  for j in range(1,5-i):
    print("-", end=" ")

  for j in range(1,i+1):
    print("*", end=" ")

  print("")

- - - *
- - * *
- * * *
* * * *

In [ ]:

for i in range(1,5):

  for j in range(1,i):
    print("-", end=" ")

  for k in range(i,5):
    print("*", end=" ")

  print("")

* * * *
- * * *
- - * *
- - - *

In [ ]:
num=6
for i in range(1,num+1):

  for j in range(1,i+1):
    if(j==1 or i==6 or i==j):
      print("*", end=" ")
    else:
      print("-", end=" ")

  print("")

*
* *
* - *
* - - *
* - - - *
* * * * * *

In [ ]:
num=6
for i in range(1,num+1):

  for j in range(i,7):
    print("*", end=" ")


  print("")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# nested loops
for x in range(1,5):
  print("student",x)
  for j in range(1,4):
    print(" --- subject check --- ",j)

In [ ]:
num=4
for i in range(1,num+1):

  for j in range(i,4):
    print("_", end="")


  for j in range(1,i+1):
    print("*", end=" ")
  print("")

___*
__* *
_* * *
* * * *

In [ ]:
num=4
for i in range(4,0,-1):

  for j in range(i,4):
    print("_", end="")

  for k in range(1,i+1):
    print("*", end=" ")

  print("")

* * * *
_* * *
__* *
___*

In [ ]:
num=4

for i in range(4,0,-1):
  t=1
  for j in range(i,4):
    print(" ", end="")

  for k in range(1,i+1):
    print(t, end=" ")
    t+=1

  print("")

1 2 3 4
 1 2 3
  1 2
   1

In [ ]:
num=4

for i in range(4,0,-1):
  t=1
  for j in range(i,4):
    print(" ", end="")

  for k in range(1,i+1):
    print(t, end=" ")
    t+=1
  print("")

In [ ]:
num=4

for i in range(4,0,-1):

  for j in range(i,4):
    print(" ", end="")

  for k in range(1,i+1):
    print("*", end=" ")

  print("")

* * * *
 * * *
  * *
   *

In [ ]:
num=4
for i in range(1,num+1):

  for j in range(i,4):
    print(" ", end="")


  for j in range(1,2*i):
    if(j==1 or i==4 or j==2*i-1):
      print("*", end="")
    else:
      print(" ", end="")

  print("")

   *
  * *
 *   *
*******

In [ ]:
# aaj hum start
# list datatype
# list  => datatype,  multiple element can be store together
salary=2000
salary2=3000

In [ ]:
# list
# sequence datatype
# int, float, string, tuple ....
# ordered format
# position => aap data store karenge

In [ ]:
x=[10,20,40.5, "hey"]
print(type(x))

<class 'list'>

In [ ]:
x=[10,20,40.5, "hey"]
print(type(x))

In [ ]:
x=[10,20,40.5, "hey"]
print( x[-1]  )

hey

In [ ]:
x=[10,20,40.5, "hey"]
x[0]=99
print( x  )

[99, 20, 40.5, 'hey']

In [ ]:
x=[10,20,40.5, "hey"]
x.append(80)
print( x  )

[10, 20, 40.5, 'hey', 80]

In [ ]:
x=[10,20,40.5, "hey"]
x.append(80)
print( x  )

[10, 20, 40.5, 'hey', 80]

In [ ]:
# multiple element  => extend function
x=[10,20,40.5, "hey"]
x.extend( "hello" )           # string is iterable
x.extend( ["hello"] )         #list is iterable
print( x  )

[10, 20, 40.5, 'hey', 'h', 'e', 'l', 'l', 'o']

In [ ]:
x=[10,20,40.5, "hey"]
x.extend( ["hello"] )
print( x  )

[10, 20, 40.5, 'hey', 'hello']

In [ ]:
mylist=[10,20,30,40,"abc","def",1999]
out=mylist.pop()
print(mylist)

[10, 20, 30, 40, 'abc', 'def']

In [ ]:
print(out)

1999

In [ ]:
mylist=[10,20,30,40,"abc","def",1999]
mylist.insert(0,"tushar")
print(mylist)

['tushar', 10, 20, 30, 40, 'abc', 'def', 1999]

In [ ]:
mylist=[10,20,30,40,11,45,3]
mylist.sort()
print(mylist)

[3, 10, 11, 20, 30, 40, 45]

In [ ]:
help( mylist )

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
mylist=[10,20,30]
for i in mylist:
  print(i)

10
20
30

In [ ]:
mylist=[10,20,30]
for i in range(0,3):
  print(mylist[i])

10
20
30

In [ ]:
mylist=[10,20,30,67,10,2,6,8,15]
len(mylist)

9

In [ ]:
mylist=[10,20,30,67,10,2,6,8,15,1,2,3,4,5,6,44]
newlist=[]
for i in range(0, len(mylist) ):
  if(mylist[i] > 10):
    print(mylist[i])

20
30
67
15
44

In [ ]:
mylist=[10,20,30,"hey","naina",10,"29"]

for i in range(0, len(mylist) ):

In [ ]:
mylist=[10,20,30,15,6,7,8,999]
max=0
for i in range(0, len(mylist) ):
  if(mylist[i] > max):
    max=mylist[i]

print(max)

999

In [ ]:
mylist=[10,20,30]
mylist.append(40)
x=mylist.pop()
print(mylist,x)

[10, 20, 30] 40

In [ ]:
for i in mylist:
  print(i)

10
20
30

In [ ]:
mylist=[10,20,30,6,4,1,2]
for i in range(0, len(mylist)):
  print(i, mylist[i] )

0 10
1 20
2 30
3 6
4 4
5 1
6 2

In [ ]:
mylist=[10,30,6,4,1,20,30]
maxi = mylist[0]
smax=0

for i in range(0, len(mylist)):
  if(mylist[i] > maxi):    #  30, 20
    smax=maxi
    maxi=mylist[i]
  elif(mylist[i] > smax  and  mylist[i]!=maxi):
    smax=mylist[i]

print("maximum is", maxi, smax)

maximum is 30 20

In [ ]:
20 in [10,20,30]

True

In [ ]:
mylist=[10,30,6,4,1,4,30]
newlist=[]
for i in range(0, len(mylist)):
  if( mylist[i]  not in newlist  ):
    newlist.append( mylist[i] )
  else:
    print("Duplicate:", mylist[i])

print(newlist)

Duplicate: 4
Duplicate: 30
[10, 30, 6, 4, 1]

In [ ]:
mylist=[10,20,30,40]
for i in range(1,4):
  print(mylist[i])

20
30
40

In [ ]:
mylist=[10,20,10,40,20,50,30]
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if(mylist[i] +  mylist[j]):
      print("duplicate", mylist[j])

# 10 => n
#j   =>  n * (n-1)   ( n2 - n)  => n2

    # [1,2,3,7,14]

duplicate 20
duplicate 10
duplicate 40
duplicate 20
duplicate 50
duplicate 30
duplicate 10
duplicate 40
duplicate 20
duplicate 50
duplicate 30
duplicate 40
duplicate 20
duplicate 50
duplicate 30
duplicate 20
duplicate 50
duplicate 30
duplicate 50
duplicate 30
duplicate 30

In [ ]:


data="hey user"
for i in range(0,len(data)):
  for j in range(i+1,len(data)):
    if(data[i] ==  data[j]):
      print("duplicate", data[j])

duplicate e

In [ ]:
mylist=[1,2,3,5,7,11,18]
target=9
# 2 pointer approach

In [ ]:
mylist=[1,2,3,5,7,11,18]
i=0
end=len(mylist)-1
while(i<len(mylist)):

  if(mylist[i]+ mylist[end]  > 9):
    end-=1

  elif( mylist[i]+ mylist[end]  < 9) :
    i+=1
  else:
    print("total of two alues", mylist[i], mylist[end])
  i+=1
  end-=1

total of two alues 2 7

In [ ]:
data="SARAZ"
i=0
end=len(data)-1
a=0
while(i<len(data)):
  if( data[i] !=  data[end]):
    a=1
    break
  i+=1
  end-=1

if(a==0):
  print("string is palindrome")
else:
  print("Not a palindrome")

Not a palindrome

In [ ]:
# [10,20,10,10,10,10,31,40,31,]
# [10,10,10,10,31]

In [ ]:
mylist=[10,20,30,40,5]
i=0
end=len(mylist)-1
while(i<end):
  print(mylist[i],  mylist[end])
  i+=1
  end-=1

10 5
20 40

In [ ]:
mylist=[10,20,2,4,5]
for i in range(0,len(mylist)):
  print("-----",mylist[0])
  for j in range(i+1, len(mylist)):
    if(mylist[i] > mylist[j]):
      mylist[i], mylist[j] =  mylist[j], mylist[i]

  print(mylist)

----- 10
[2, 20, 10, 4, 5]
----- 2
[2, 4, 20, 10, 5]
----- 2
[2, 4, 5, 20, 10]
----- 2
[2, 4, 5, 10, 20]
----- 2
[2, 4, 5, 10, 20]

In [ ]:
# valid parenthesis * => list ,  dictionary

data="()["
x=[]
a=0
for char in data:
  if(char=="(" or char=="[" or char=="{"):   # x="["
    x.append(char)
  elif(x):
    if( (char==")" and  "("==x.pop())   or (char=="]" and  "["==x.pop() )  ):
      continue
    else:
      a=1
      break
  else:
    a=1
    break

if(a==1 or len(x)>=1):
  print("invalid")
else:
  print("valid")

invalid

In [ ]:
# valid parenthesis * => list ,  dictionary

data="[)"
x=None
for char in data:
  if(char=="(" or char=="["):   # x="["
    x=char
  elif( char==")" and  "("==x     ):
    print("valid", char, x )
  elif( char=="]" and  "["==x ):
    print("valid", char, x )
  else:
    print("invalid", char, x)

print("x=>",x)

In [ ]:
x=[]
x.append("axz")
x.extend("bcde")
print(x)

['axz', 'b', 'c', 'd', 'e']

In [ ]:
mylist=[11,20,10]
z=mylist.pop()
print( 10==z )
print(mylist,z)

True
[11, 20] 10

In [ ]:
# tuple
# immutable
# list index
mytuple=10,20

mytuple=(10,20,10,10)

In [ ]:
mytuple[0]

10

In [ ]:

mytuple=(10,20,10,10)
mytuple.count(10)

3

In [ ]:
mytuple.index(20)  # will give index position of first element from the data in list

1

In [ ]:
# dictionary
# datatype
# key and value

# time complexity
#  [10,11,12,13,14]  =>[10,abc,11,12,13,14]
# O(n)
# dictionary => no index
# key:value
# key => unique
# value => unique / duplicate
# ordered collection of element

In [ ]:
mydictionary={10:"yash", 11:"aman"}

In [ ]:
mydictionary={10:"yash", 11:"aman"}
mydictionary[10]="naina"   #update the value for key 10
print(mydictionary)

{10: 'naina', 11: 'aman'}

In [ ]:
mydictionary={10:"yash", 11:"aman"}
mydictionary[10]="naina"   #update the value for key 10
print(mydictionary)

{10: 'naina', 11: 'aman'}

In [ ]:
mydictionary={10:"yash", 11:"aman"}
mydictionary[15]="naina"   #insert the value for key 10
print(mydictionary)

{10: 'yash', 11: 'aman', 15: 'naina'}

In [ ]:
mydictionary={10:"yash", 11:"aman", "salary":80}

mydictionary["salary"] = mydictionary["salary"]+5
print(mydictionary)

{10: 'yash', 11: 'aman', 'salary': 85}

In [ ]:
mydictionary={10:"yash", 11:"aman", "salary":80}

print(mydictionary.keys())  # only keys

print(mydictionary.values())   # only values
print(mydictionary.items())   # key and value both in form of tuples

dict_keys([10, 11, 'salary'])
dict_values(['yash', 'aman', 80])
dict_items([(10, 'yash'), (11, 'aman'), ('salary', 80)])

In [ ]:
mydictionary={10:"yash", 11:"aman", "salary":80}

for i in mydictionary:
  print(i, mydictionary[i])

10 yash
11 aman
salary 80

In [ ]:
mydictionary={10:"yash", 11:"aman", "salary":80}

for i in mydictionary.keys():
  print(i, mydictionary[i])

10 yash
11 aman
salary 80

In [ ]:
s="hey"
mydictionary={}  #dict[key]=value
for i in s:
  mydictionary[i]=1

print(mydictionary)

{'h': 1, 'e': 1, 'y': 1}

In [ ]:
# s="helllo hey"
# {total:10}

In [ ]:
s="hey hello abhi"
# {e:2, o:1,  a:1, i:1}
mydict={}
for i in s:
  if i in "aeiou":
    if i not in mydict:
      mydict[i]=1
    else:
      mydict[i] = mydict[i]+1

print(mydict)

{'e': 2, 'o': 1, 'a': 1, 'i': 1}

In [ ]:
# string is a anagram
s="rarj"
t="jrra"
dict1={}
dict2={}
for i in s:
  if i in dict1:
    dict1[i]= dict1[i]+1
  else:
    dict1[i]=1

for i in t:
  if i in dict2:
    dict2[i]= dict2[i]+1
  else:
    dict2[i]=1

if(dict1 == dict2):
  print("t is anagram of s")
else:
  print("not a anagram")

t is anagram of s

In [ ]:
# dictionary
# List comphrension : summarized to create a new list
# better readability of code

In [ ]:
# for i in range(1,10):
#   mylist.append(i)
# [i for i in range(1,10) ]

In [ ]:
# set => datatype mutiple values are stored
# contain all immutable values
# set have all the unique
# Set is mutuable datatype

myset= set( {} )
print(type(myset))

<class 'set'>

In [ ]:
myset={1,2,3,4,5,1,1,1,1,3,4,100}
print(myset)

{1, 2, 3, 4, 5, 100}

In [ ]:
myset={1,2,3,4,5,1,1,1,1,3,4,100}
print(myset)
myset.add(99)  #add
print(myset)
myset.remove(2)   #delete
print(myset)

{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4, 5, 100, 99}
{1, 3, 4, 5, 100, 99}

In [ ]:
myset={1,2,3}
myset.update( ["hey"] )
print(myset)

{1, 2, 3, 'hey'}

In [ ]:
# just combine result between 2 or more set
myset1={1,2,4}
myset2={56,57,3,8,4}
myset1.union(myset2)

{1, 2, 3, 4, 8, 56, 57}

In [ ]:
myset1.intersection(myset2)

{4}

In [ ]:
# dictonary and set comphrehension
{i:1 for i in "helo"}

{'h': 1, 'e': 1, 'l': 1, 'o': 1}

In [ ]:
'''
Take a number and check it whether the number is a palindrome
x=789

'''
for i in range(1,13):
  print(i)

print("outside",i)

1
2
3
4
5
6
7
8
9
10
11
12
outside 12

In [ ]:
for i in range(1,5):
  for k in range(1,i):
    print("O", end=" ")
  for j in range(i,5):  #(1,5-1)
    if(j==4 or i==1 or i==j):
      print(j, end=" ")
    else:
      print(" ",end=" ")
  print("")

1 2 3 4
O 2   4
O O 3 4
O O O 4

In [ ]:
# loops
# statement jo again again => statement
print("hey")
print("hey")
print("hey")
print("hey")
print("hey")
print("hey")
# for loop  vs  while loop

hey
hey
hey
hey
hey
hey

In [ ]:
# for loop => fixed time
# for(i=1 ; i<5; i++)
# for i in range(1,5)
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(7,2,-1):
  print(i)

7
6
5
4
3

In [ ]:
for i in range(1,10):
  if(i==3):
    print("value of i:",i)

value of i: 3

In [ ]:
/

()

In [ ]:
for i in range(57,19,-1):
  if(i%2==0 and i%5==0):
    print("Divided by both",i)
  else:
    print("Not",i)

Not 57
Not 56
Not 55
Not 54
Not 53
Not 52
Not 51
Divided by both 50
Not 49
Not 48
Not 47
Not 46
Not 45
Not 44
Not 43
Not 42
Not 41
Divided by both 40
Not 39
Not 38
Not 37
Not 36
Not 35
Not 34
Not 33
Not 32
Not 31
Divided by both 30
Not 29
Not 28
Not 27
Not 26
Not 25
Not 24
Not 23
Not 22
Not 21
Divided by both 20

In [ ]:
for i in range(57,19,-1):
  if(i%2==0 and i%5==0):
    print("Divided by both",i)
  else:
    print("Not",i)

Not 57
Not 56
Not 55
Not 54
Not 53
Not 52
Not 51
Divided by both 50
Not 49
Not 48
Not 47
Not 46
Not 45
Not 44
Not 43
Not 42
Not 41
Divided by both 40
Not 39
Not 38
Not 37
Not 36
Not 35
Not 34
Not 33
Not 32
Not 31
Divided by both 30
Not 29
Not 28
Not 27
Not 26
Not 25
Not 24
Not 23
Not 22
Not 21
Divided by both 20

In [ ]:
# to calcuate the total of number from 1 to 10
# 1+2+3+4....+10
total=0

for i in range(1,11):
  total=total+i
  print(i, "total:", total)

1 total: 1
2 total: 3
3 total: 6
4 total: 10
5 total: 15
6 total: 21
7 total: 28
8 total: 36
9 total: 45
10 total: 55

In [ ]:
count=0
total=0
for i in range(97,46,-1):
  if(i%2==0):
    count=count+1
    total+=i

print(total, count)

1800 25

In [ ]:
# range()
data="regex"
for  char in data:
  print(char)

r
e
g
e
x

In [ ]:
s="REGEX"

for i in range(0,5):
  print(i, s[i])  #s[2]

0 R
1 E
2 G
3 E
4 X

In [ ]:
# -5-4-3-2-1  #negative indexing
s="REGEX"
print(s[-3])
#01234  #positive indexing

G

In [ ]:
# while loop
# for loop
# while loop => execute ( iteration X)
# starting
# for i in range(1,10)

In [ ]:
i=3
while(i<6):
  print("hey",i)
  i+=1

hey 3
hey 4
hey 5

In [ ]:
# 1 to 100  => total
while(i<6):
  print("hey",i)
  i+=1

In [ ]:
total=0
for i in range(1,101):
  total=total+i

print("total =>",total)

total => 5050

In [ ]:
i=1
total=0
while(i<101):
  total=total+i
  i=i+1

print(total)

5050

In [ ]:
i=20
while(i<=40):
  if(i%3==0):
    print(i)
  i+=1

21
24
27
30
33
36
39

In [ ]:
# 98 - 58
# Get the total values?
i=98
while(i>=58):
  print(i)
  i-=1

98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58

In [ ]:
num=169
rem1=num%10
num1=num//10

print(rem1, num1)

rem2=num1%10
num2=num1//10
print(rem2, num2)

9 16
6 1

In [ ]:
num=1629
x=0
# get the total digit
# get the sum of all the digits  1+6+2+9
while(num>0):
  rem=num%10
  num=num//10
  x+=1
  print(rem, num)

print("total",x)

9 162
2 16
6 1
1 0
total 4

In [ ]:
num=153
temp=num
total=0

while(num>0):
  rem=num%10
  num=num//10
  total=total + rem**3

if(temp==total):
  print("Armstrong numner")
else:
  print("not a armstrong")

Armstrong numner

In [ ]:
num=1536
num2=num
temp=num
total=0
count=0

while(num>0):
  num=num//10
  count+=1


while(num2>0):
  rem=num2%10
  num2=num2//10
  total=total + rem**count

if(temp==total):
  print("Armstrong numner")
else:
  print("not a armstrong")

4
1296
81
625
1
not a armstrong

In [ ]:
# Narcissistic number
# 153 => 1**3 +   5**3  + 3** 3
# 4321   =>  4**4     3**4    2**4   1**4
# 65565  =>   6**5   +  5**5

In [ ]:
# Membership  =>
"r" in "REGEX"

False

In [ ]:
"r" not in "REGEX"

True

In [ ]:
# identity operator   is   and is not
# memory address ko compare krna
# to check kyaa koi data kisi certain data type ko belong krta hai yh nhi

In [ ]:
x=10
y=10
print(id(x), id(y) )

10751144 10751144

In [ ]:
x=257
y=257
print(id(x), id(y) )

136607494757840 136607494758064

In [ ]:
x=10000
y=x    # x => memory => y     x ka memory to y
print(id(x),  id(y))

136607494758384 136607494758384

In [ ]:
x={'Records': [{'eventVersion': '2.1', 'eventSource': 'aws:s3', 'awsRegion': 'ap-south-1', 'eventTime': '2025-05-27T03:57:02.703Z', 'eventName': 'ObjectCreated:Put', 'userIdentity': {'principalId': 'A9OMJLZWKWCT8'}, 'requestParameters': {'sourceIPAddress': '183.83.54.215'}, 'responseElements': {'x-amz-request-id': '045Z22Q2KDXCTB7B', 'x-amz-id-2': 'rLFNInxEwGAFE3ZFU1P2+ijkS9px44Le1gro5ZZwI1wgn3LFvCch/oQqtd38Zi1rb8YUk22MHicWjVPhqeKmQW94H6AN9OSDFCPQhG4ARqg='}, 's3': {'s3SchemaVersion': '1.0', 'configurationId': 'fcb3ee49-daac-4e1a-9bda-ab628ccb6fe3', 'bucket': {'name': 'mycrawler-regex', 'ownerIdentity': {'principalId': 'A9OMJLZWKWCT8'}, 'arn': 'arn:aws:s3:::mycrawler-regex'}, 'object': {'key': 'Assignments+1.pdf', 'size': 5632, 'eTag': 'd35c79e27821073611fddd8861c7b121', 'sequencer': '006835380EAA6F743E'}}}]}
x["Records"][0]["awsRegion"]

'ap-south-1'

In [ ]:
for i in range(1,1)

In [ ]:
for i in range(1,1)

In [ ]:
for i in range(1,5):
  for col in range(2,i+1):   #(2, 2+1) => (2,3)
      print( "*", end=" ")

  print("")

*
* *
* * *

In [ ]:
for i in range(1,5):
  for col in range(2,i+1):   #(2, 2+1) => (2,3)
      print( "*", end=" ")


  print("")

In [ ]:

for i in range(1,4):
  a=66
  for col in range(1,4-i+1):   #(1,5-3+1
    print( a, end=" ")
    a+=1

  print("")

66 67 68
66 67
66

In [ ]:
for i in range(1,5):
  a=65
  for col in range(1,i+1):   #(2, 2+1) => (2,3)
      print( chr(a), end=" ")
      a+=1


  print("")

A
A B
A B C
A B C D

In [ ]:
for i in range(1,5):
  for col in range(1,i+1):   #(2, 2+1) => (2,3)
      print( "?", end=" ")

  for col in range(1,5-i):   #(2, 2+1) => (2,3)
      print( col, end=" ")
  print("")

? 1 2 3
? ? 1 2
? ? ? 1
? ? ? ?

In [ ]:
for i in range(1,5):
  for col in range(1,5-i):   #(2, 2+1) => (2,3)
      print( col, end=" ")
  print("")

1 2 3
1 2
1

In [ ]:
# functions

def func(a,b):
  print(a,b)

In [ ]:
func(10,20)
func(20,10)
func(a=10,b=20)

10 20
20 10
10 20

In [ ]:

def func(a,b):
  print(a+b)
  return "hello"

In [ ]:
x=func(10,20)
print("x =>",x)

30
x => hello

In [ ]:
def shadi(lifafa):
  print(lifafa+100)
  return lifafa+100


out=shadi(500)
print("Out =>", out)

600
Out => 600

In [ ]:
def func():
  print("hey func")

print(func)
a=func    # we can assign a function to a variable  #first class functions
print(a)

a()

<function func at 0x7f187d874180>
<function func at 0x7f187d874180>
hey func

In [ ]:
def func(x):
  return x**2

func(9)

81

In [ ]:
#  lambda functions
# function => annymous functions
# single line functions
# lambda parameter : expreession
out=lambda x : x**2
out(9)

81

In [ ]:
# map, filter
mylist=[10,20,30]
for i in mylist:
  print(i)

10
20
30

In [ ]:
# map =>  kisi dushre ko use krke => apply
#  [10,20,30]
# map(  func)
# 10  => func  =>  return
# 20 => func  => return
# 30  => func => return



gen=map( len,  ["hey","hello"] )
next(gen)   # lazy => for execute run a next() function here

3

In [ ]:
next(gen)

StopIteration:

In [ ]:
# map =>  kisi dushre ko use krke => apply
#  [10,20,30]
# map(  func)
# 10  => func  =>  return
# 20 => func  => return
# 30  => func => return




list( map( len,  ["hey","hello"] ) )

[3, 5]

In [ ]:
def square(num):
  return num**2

x=map( square,  [10,20,30] )
next(x)

400

In [ ]:
x=map( lambda num: num**2,  [10,20,30] )
next(x)

100

In [ ]:
list( "abc" )
list=[123213]

['a', 'b', 'c']

In [ ]:
"hello@yahoo.com".split("@")[1]


{10: lambda x: x+10}


x=func
mydictioany[key]()

SyntaxError: expression expected after dictionary key and ':' (<ipython-input-46-46c6a9238c15>, line 4)

In [ ]:
rat
#  {r:1 a:1 t:1}


#tar
#{t:1 , a:1 , r:1}

In [ ]:
# list
# data alag alag datatypes
[10,20,30,40]  + 5

TypeError: can only concatenate list (not "int") to list

In [ ]:
# list
# data alag alag datatypes
[10,20,30,40]  + 5

TypeError: can only concatenate list (not "int") to list

In [ ]:
# Array => collection of values, but similar kind of values are stored
# numpy => numerical python

In [ ]:
a=50
b=100
b=b-a  #100-50   b=50
a=a+b   # 50+50  a=100
b=a-b       #  100-50

In [ ]:
a=10
b=20
temp=a  # temp=10
a=b  # a=>20
b=temp
print(a, b)

20 10

In [ ]:
a=10
b=20
a,b=b,a
print(a, b)

20 10

In [ ]:
mylist=[10,20,30,40,50]
start=0
end=len(mylist)-1

while(start!=end):
  temp=mylist[start]
  mylist[start]= mylist[end]
  mylist[end]=temp

  start+=1
  end-=1

print(mylist )


# reverse()

[50, 40, 30, 20, 10]

In [ ]:
mylist=[10,3,20,5,30,40,50]
# to sort the list  =>  [3,5,10,20,30,40,50]

start=0
end=len(mylist)-1

while(start!=end):
  temp=mylist[start]
  mylist[start]= mylist[end]
  mylist[end]=temp

  start+=1
  end-=1

print(mylist )


# reverse()

In [ ]:
mylist=[10,3,20,5,30,40,50]
for i in range(0, len(mylist)):

  for j in range(i+1, len(mylist)):
    print(i, j , mylist[i], mylist[j])
    if(mylist[i] > mylist[j]):
      temp=mylist[i]
      mylist[i]=mylist[j]
      mylist[j]=temp
      print("after change =>",i, j , mylist[i], mylist[j])

0 1 10 3
after change => 0 1 3 10
0 2 3 20
0 3 3 5
0 4 3 30
0 5 3 40
0 6 3 50
1 2 10 20
1 3 10 5
after change => 1 3 5 10
1 4 5 30
1 5 5 40
1 6 5 50
2 3 20 10
after change => 2 3 10 20
2 4 10 30
2 5 10 40
2 6 10 50
3 4 20 30
3 5 20 40
3 6 20 50
4 5 30 40
4 6 30 50
5 6 40 50

In [ ]:
# if
# loops
# repetative
# for loop and while loop
print("aman")
print("aman")
print("aman")
print("aman")
print("aman")

aman
aman
aman
aman
aman

In [ ]:
# for loop -> repeatitive execute
# for(int i=1; i<5; i++)
#for(int i=5; i>1; i--)
for i in range(1,6):
  print("aman",i)

aman 1
aman 2
aman 3
aman 4
aman 5

In [ ]:
for i in range(5,0,-1):  # value increase  (step=1)
  print("aman",i)

aman 5
aman 4
aman 3
aman 2
aman 1

In [ ]:
for i in range(1,6):
  if(i !=3):
    print(i)

1
2
4
5

In [ ]:
for i in range(48,20,-1):
  if(i %2==0  and i%3==0):
    print(i)

48
42
36
30
24

In [ ]:
num=8
count=0
# prime number => 1, 7
for i in range(1,num+1):
  if(num%i==0):
    count+=1

if(count==2):
  print("Prime", num)
else:
  print("not prime", num)

not prime 8

In [ ]:
# while loop
# repettitive task execute
# for i in range(1,5)
i=1
while(i<5):
  print(i)
  i+=1

1
2
3
4

In [ ]:
num=153
total=0
temp=num
while(num>0):
  rem=num%10
  num=num//10
  total= total + rem**3

if(temp==total):
  print("Armstrong number", temp)
else:
  print("Not armstrong", temp)

Armstrong number 153