In [ ]:
# check number is even or odd


num=int(input("enter a number: "))
if(num%2==0):
  print("even number")
else:
  print("odd")

enter a number: 85
odd

In [ ]:
# check largest number of given number

a=int(input("enter a number: "))
b=int(input("enter b number: "))
c=int(input("enter c number: "))

if(a>=b and a>=c):
  print("a is largest")
elif(b>=a and b>=c):
  print("b is largest")
else:
  print("c is largest")

enter a number: 5
enter b number: 8
enter c number: 10
c is largest

In [ ]:
#  check grade system in a school


per=int(input("enter your percent: "))
if(per>=90):
  print("grade A")
elif(per>=80 and per<90):
  print("grade B")
elif(per>=70 and per<80):
  print("grade C")
elif(per>=60 and per<70):
  print("grade D")
else:
  print("fail")

enter your percent: 95
grade A

In [ ]:
# chek charecter is vowel or consonante


ch=(input("enter a latter: "))
if(ch=='a'):
  print("vowel")
elif(ch=='e'):
  print("vowel")
elif(ch=='i'):
  print("vowel")
elif(ch=='o'):
  print("vowel")
elif(ch=='u'):
  print("vowel")
else:
  print("consonante")

enter a latter: a
vowel

In [ ]:
# check leap year or not


year=int(input("enter a value: "))
if(year%4==0 and year%100!=0) or (year%400==0):
  print("leap year")
else:
  print("not a leap year")

enter a value: 2024
leap year

In [ ]:
# check number positive nagative and zero


num=int(input("enter a number: "))
if(num>0):
  print("positive")
elif(num<0):
  print("negative")
else:
  print("zero")

enter a number: 0
zero

In [ ]:
#   login id programm


id=(input("enter your id : "))
pwd=int(input("enter your password: "))

if(id=='admin' and pwd==1234):
  print("login suceessful")
else:
  print("login failed")

enter your id : admin
enter your password: 4568
login failed

In [ ]:
# valid tringle or not a valid tringle


a=float(input("enter first side: "))
b=float(input("enter second side: "))
c=float(input("enter thired side: "))
if(a+b>c and b+c>a and a+c>b):
  print("valid tringle")
else:
  print("not a valid tringle")

enter first side: 4
enter second side: 5
enter thired side: 7
valid tringle

In [ ]:
# dicount based on prize

price = float(input("Enter price: "))

if price > 1000:
    discount = 0.10
elif price >= 500:
    discount = 0.05
else:
    discount = 0.0

final_price = price - (price * discount)
print("Final price:", round(final_price, 2))

Enter price: 568
Final price: 539.6

In [ ]:

# days in month

month = input("Enter month name: ")
year = int(input("Enter year: "))

if(month=='january', 'march', 'may', 'july', 'august', 'october', 'december'):
    print("31 days")
elif(month =='april', 'june', 'september', 'november'):
    print("30 days")
elif(month=='february'):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print("29 days")
    else:
        print("28 days")
else:
    print("Invalid month")

Enter month name: june
Enter year: 2004
31 days

In [ ]:
#  days in week


day = int(input("Enter a number (1-7): "))

if(day==1):
    print("Monday")
elif(day==2):
    print("Tuesday")
elif(day==3):
    print("Wednesday")
elif(day==4):
    print("Thursday")
elif(day==5):
    print("Friday")
elif(day==6):
    print("Saturday")
elif(day==7):
    print("Sunday")
else:
    print("Invalid input")

Enter a number (1-7): 5
Friday

In [ ]:
# age group categraization

age = int(input("Enter age: "))

if(age >= 0 and age <= 1):
    print("Infant")
elif(age >= 2 and age <= 4):
    print("Toddler")
elif(age >= 5 and age <= 12):
    print("Child")
elif(age >= 13 and age <= 19):
    print("Teenager")
elif(age >= 20 and age <= 59):
    print("Adult")
elif (age >= 60):
    print("Senior")
else:
    print("Invalid age")

Enter age: 58
Adult

In [ ]:
#   loops

In [ ]:
lst = [5, 10, 15, 20]
total = 0
for i in lst:
    total += i / 2
print(total)

25.0

In [ ]:
  # for loop
  #que=1
  #       print all natural number from 1 to n

In [ ]:
number=int(input("enter a number :"))
for i in range(0,number):
  print(i+1)

enter a number :9
1
2
3
4
5
6
7
8
9

In [ ]:
# using while loop

i=0
number=int(input("enter a number"))
while(i<=number):
  print(i)
  i=i+1

enter a number8
0
1
2
3
4
5
6
7
8

In [ ]:
# que=2

# print all natural number in reverse

In [ ]:
number=int(input("enter a number :"))
for i in range(number,0,-1):
  print(i)

enter a number :8
8
7
6
5
4
3
2
1

In [ ]:
# using while loop

number=int(input("enter a number :"))
while(number>=0):
  print(number)
  number=number-1

enter a number :5
5
4
3
2
1
0

In [ ]:
# que=3

#  print all alphabate a to z

In [ ]:
for i in range(ord('a'),ord('z')+1):
  print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
# using while loop

'''i=ord('a')
while(i<=('z')):
  print(chr(i))
  i=i+1'''

i = ord('a')
while i <= ord('z'):
    print(chr(i),end=" ")
    i = i + 1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
# que=4

#  print all even number between 1 to 100

In [ ]:
for i in range(1,100):
  if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
# using while loop

i=1
while(i<=100):
  if(i%2==0):
    print(i)
  i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#que=5

#  find the sum of all odd number

In [ ]:
sum=0
num=int(input("enter a number:"))
for i in range(1,num):
  if(i%2!=0):
    sum=sum+i
    print(i,sum)

enter a number:20
1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100

In [ ]:
# using while loop

'''num=int(input("enter a number:"))
i=1
sum=0
while(i<=num):
  if(i%2!=0):
    sum=sum+i
    i=i+1
    print(i,sum)'''

num = int(input("Enter a number: "))
i = 1
sum = 0
while i <= num:
    if i % 2 != 0:
        sum = sum + i
    print(i, sum)
    i = i + 1

Enter a number: 20
1 1
2 1
3 4
4 4
5 9
6 9
7 16
8 16
9 25
10 25
11 36
12 36
13 49
14 49
15 64
16 64
17 81
18 81
19 100
20 100

In [ ]:
# que=7

# count of number of digit in a number

In [ ]:
# for loop
num=int(input("enter a number :"))
count=0
for i in range(num>0):
  num=num%10
  count=count+1
  print(count)

In [ ]:
# using while loop

num=int(input("enter a number :"))
count=0
while(num>0):
  num=num//10
  count=count+1
  print(count)

enter a number :58987
1
2
3
4
5

In [ ]:
# que=8 calculate the sum of digit of a givven number

In [ ]:
num = int(input("Enter a number: "))
sum = 0

while num > 0:
    digit = num % 10  # आखिरी अंक निकालना
    sum=sum+digit  # अंक का योग जोड़ना
    num //= 10  # अंक को हटाना

print("Sum of digits:", sum)  # अंक का योग प्रिंट करना

enter a number :4587
7

In [ ]:
num = int(input("Enter a number: "))
sum = 0

while num > 0:
    digit = num % 10  # आखिरी अंक निकालना
    sum=sum+digit  # अंक का योग जोड़ना
    num //= 10  # अंक को हटाना

print("Sum of digits:", sum)  # अंक का योग प्रिंट करना

Enter a number: 1584
Sum of digits: 18

In [ ]:
# reverse number

num=int(input("enter a number:"))
rev=0
while(num>0):
  rev=rev*10+num%10
  num=num//10
print(rev)

enter a number:4587
7854