In [ ]:
# check the num is diveded by 3,5 and only 3 and only 5.

num=int(input("enter a num"))
if(num%3==0 and num%5==0):
  print("diveded by 3 and 5")
elif(num%3==0):
  print("diveded by 3 only")
elif(num%5==0):
  print("diveded by 5 only")
else:
  print("not diveded by 3 and 5")

enter a num20
diveded by 5 only

In [ ]:
# check the gratest number .

`a=int(input("enter a number: "))
b=int(input("enter b number: "))
c=int(input("enter c number: "))

if(a>=b and a>=c):
  print("a is gratest",a)
elif(b>=a and b>=c):
  print("b is gratest",b)
elif(c>=a and c>=b):
  print("c is gratest",c)

enter a number: 84
enter b number: 85
enter c number: 25
b is gratest 85

In [ ]:
# check year is leap year or not.

year=int(input("enter year :"))

if(year%4==0 and year%100!=0) or (year%400==0):
  print("leeap year")
else:
  print("note a leap year")

enter year :2000
leeap year

In [ ]:
# check a charcter is vowel and consonante.

ch=input("enter a charcter :")

if ch in 'aeiou':
  print("vowel")
else:
  print("consonante")

enter a charcter :i
vowel

In [ ]:
# if password is admin123 print access granted otherwise acccess denied

password=input("enter yours password")

if(password=='admin123'):
  print("access granted")
else:
  print("acccess denied")

enter yours passwordadmin123
access granted

In [ ]:
# if username and password is right  so login sucessful oterwise lodin failed.

username=input("enter username :")
password=input("enter password :")

if(username=='murari1998' and password=='sainimurari'):
  print("login suucessful")
else:
  print("login failed")

enter username :murari1998
enter password :sainimurari
login suucessful

In [ ]:
# check a number is positive , nagative and zero.

num=float(input("enter a number :"))

if(num>0):
  print("positive number ")
elif(num<0):
  print("negative number ")

else:
  print("zero")

enter a number :0
zero

In [ ]:
# check a student are pass and failed.

mark=int(input("enter marks :"))
if(mark>=40):
  print("pass")
else:
  print("failed")

enter marks :45
pass

In [ ]:
# 0-12 = child
# 13-19 =teen
# 20-59 =adult
# 60+ =senior citizen

age=int(input("enter your age"))

if(age>0 and age<=12):
  print("child")

elif(age>12 and age<=19):
  print("teen")


elif(age>19 and age<=59):
  print("adult")


elif(age>59):
  print("senior citizen")

enter your age13
teen

In [ ]:
 # time<12 = 'good morning'
 # time>12 and time<17 =good afternoon
 # time>17 and time<=23 = good evening


time=int(input("enter time 24 formatt"))

if(5<=time<12):
  print("good morning")
elif(12<=time<=17):
  print("good evening")
elif(17<=time<=23):
  print("good afternoon")
elif(0<=time<=5):
  print("good night")

enter time 24 formatt2
good night

# loop exercise **quection** *bold text:* **bold text**

1>---for loop

In [ ]:
# print number frrom 1 to 10 using loop.

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print even number from 2 20.

for i in range(2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
# print multipication table of 5.

num=5
for i in range(1,11):
  print(f"5x{i}={5*i}")

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [ ]:
# print each charcter in a string.

s="i love python"
for i in s:
  print(i,end=" ")

i   l o v e   p y t h o n

In [ ]:
# print the square number of 1 to 10.

for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#iterate through  a tuple and print its element.

tup=("banan","apple","orange","mango")
for i in tup:
  print(i)

banan
apple
orange
mango

In [ ]:
# iterate through a dictionary and print keys.

my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

for key in my_dict:
  print(key)

name
age
city

In [ ]:
# Iterate through a dictionary and print key-value pairs.

my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

for key,value in my_dict.items():
  print(f"{key}:{value}")

name:Alice
age:25
city:New York

In [ ]:
#Sum all numbers from 1 to 100 using a for loop.

sum=0
for i in range(1,100):
  sum=sum+i
print(sum)

4950

In [ ]:
# print odd number between 1,100

for i in range(1,100):
  if(i%2!=0):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
# method 2

for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
# print sum of even number range 1,50.

sum=0
for i in range(1,51):
  if(i%2==0):
    sum=sum+i

print(sum)

650

In [ ]:
sum=0
for i in range(2,51,2):
  sum=sum+i
  print(sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [ ]:
# print the number in reverse 10 to 1.

for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# print the given number table

num=int(input("enter a number :"))
for i in range(1,11):
  print(num*i)

enter a number :5
5
10
15
20
25
30
35
40
45
50

In [ ]:
num=int(input("enter a number :"))
for i in range(1,11):
  print(f"{num}x{i}={num*i}")

enter a number :6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

In [ ]:
# print all element in a list using for loop.

list1=[6,2,8,2,8,2,2]
for i in list1:
  print(i)

6
2
8
2
8
2
2

In [ ]:
fruits=["apple","banana","cherry","orange"]
for i in fruits:
  print(i)

apple
banana
cherry
orange

condition based logic

In [ ]:
# print the number of 1 to 50 there are diveded by 3 and 5.

for i in range(1,50):
  if(i%3==0 and i%5==0):
    print(i)

15
30
45

In [ ]:
# CHECK the number is prime or not prime.

list and string ffor loop question

In [ ]:
# Reverse a string using a for loop.

s="murari"
rev=" "
for i in s:
  rev=i+rev
  print(rev)

m
um
rum
arum
rarum
irarum

In [ ]:
# Count vowels in a string.
s="hello ppython"
count=0
for char in s:
  if char in "aeiou":
    count=count+1
print(count)

3

In [ ]:
# Remove vowels from a string using a for loop.

s="hello python"
s2=" "
for char in s:
  if char not in "aeiou":
    s2=s2+char
print(s2)

 hll pythn

In [ ]:
# Convert all string elements in a list to uppercase.

words = ["apple", "banana", "cherry"]
uppercas=[]
for i in words:
  uppercas.append(i.upper())
  print(uppercas)

['APPLE']
['APPLE', 'BANANA']
['APPLE', 'BANANA', 'CHERRY']

In [ ]:
s="sainimurari"
s2=""
for char in s:
  s2=s2+char.upper()
print(s2)

SAINIMURARI

In [ ]:
s="sainimurari"
s2=s.upper()
print(s2)

SAINIMURARI

In [ ]:
# Find the longest word in a list.

words = ["apple", "banana", "grapefruit", "kiwi"]
longest=" "
for item in words:
  if len(item)>len(longest):
    longest=item
print(longest)

grapefruit

In [ ]:
# Append only even numbers to a new list from an existing list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even=[]
for i in numbers:
  if(i%2==0):
    even.append(i)

    print(even)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]

In [ ]:
#  Create a list of squares using a for loop.
square=[]
for i in range(1,11):
  square.append(i*i)

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

 **while loop question in python**

In [ ]:
# Print numbers from 1 to 10

i=1
while(i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# . Print even numbers from 1 to 20.

i=1
while(i<=20):
  if(i%2==0):
   print(i)
  i=i+1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print odd numbers from 1 to 20
i=1
while(i<=20):
  print(i)
  i=i+2

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Print numbers in reverse from 10 to 1.
i=10
while(i>=1):
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Print multiplication table of a number (e.g., 5)
num=5
i=1
while(i<=10):
  print(num*i)
  i=i+1

5
10
15
20
25
30
35
40
45
50

In [ ]:
 # Calculate sum of first 10 natural numbers..
 i=1
 sum=0
 while(i<=10):
  sum=sum+i
  i=i+1
 print(sum)

55

In [ ]:
# Find factorial of a number.
num=5
fact=1
i=1
while(i<num):
  fact=fact*i
  i=i+1
print(fact)

24

In [ ]:
# reverse  a number

num=1234
rev=0
while(num>0):
  rev=rev*10+num%10
  num=num//10
  print(rev)

4
43
432
4321

In [ ]:
n = int(input("Enter a number: "))
count = 0
if n == 0:
    count = 1
while n > 0:
    count += 1
    n //= 10
print("Number of digits:", count)

Enter a number: 456
Number of digits: 3

In [ ]:
num=4569
count=0
while(num>0):
  count=count+1
  num=num//10
print(count)

4

In [ ]:
# Check if a number is a palindrome

num=4563
orignal=num
rev=0
while(num>0):
  rev=rev*10+num%10
  num=num//10
  print(rev)
if(orignal==rev):
  print("palindrom")
else:
  print("not palindrom")

3
36
365
3654
not palindrom

In [ ]:
# Find factorial of an integer

num=5
i=1
fact=1
while(i<=num):
  fact=fact*i
  i=i+1
  print(fact)

1
2
6
24
120

In [ ]:
 # Find the greatest digit in a number
 num=4589
 max_digit=0
 while(num>0):
  digit=num%10
  if(digit>max_digit):
    max_digit=digit
    num=num//10
    print(max_digit)

9

KeyboardInterrupt:

In [ ]:
# Count digits divisible by 3
n = int(input("Enter a number: "))
count = 0
while n > 0:
    digit = n % 10
    if digit % 3 == 0:
        count += 1
    n = n // 10
print("Digits divisible by 3:", count)

Enter a number: 45896
Digits divisible by 3: 2

In [ ]:
# Reverse factorial: Largest k where k! ≤ n

n = int(input("Enter a number: "))
k = 1
fact = 1
while fact <= n:
    k += 1
    fact *= k
k -= 1
print("Largest k where k! ≤ n is:", k)

In [ ]:
#  Digital root (repeated sum of digits)
n = int(input("Enter a number: "))
while n >= 10:
    sum_digits = 0
    while n > 0:
        sum_digits += n % 10
        n = n // 10
    n = sum_digits
print("Digital root:", n)

Enter a number: 4587
Digital root: 6

In [ ]:
# Compute GCD of two numbers (Euclid’s algorithm)

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
while b != 0:
    a, b = b, a % b
print("GCD is", a)

Enter first number: 5
Enter second number: 8
GCD is 1

In [ ]:
#  Compute LCM using GCD

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
orig_a, orig_b = a, b
while b != 0:
    a, b = b, a % b
gcd = a
lcm = (orig_a * orig_b) // gcd
print("LCM is", lcm)

Enter first number: 5
Enter second number: 8
LCM is 40

In [ ]:
# check num is prime or not prime

num=5
count=0
for i in range(1,num+1):
  if(num%i==0):
    count+=1


  print("---outside loop---",count)
  if(count>2):
    print("not a PRIME")
  else:
     print("prime")

---outside loop--- 1
prime
---outside loop--- 1
prime
---outside loop--- 1
prime
---outside loop--- 1
prime
---outside loop--- 2
prime

In [ ]:
# armstrong number

num=153
x=num
total=0
while(num>0):
  rem=num%10
  num=num//10
  total=total+rem**3
  print(rem**3,num,total)

if(total==x):
  print("armstrong")

In [ ]:
# sum of given digit number

i=1234
sum=0
while(i>0):
  digit=i%10
  sum=sum+digit
  i=i//10
print("total=",sum)