In [1]:
s="hey user"
for i in range(0,len(s)):
  for j in range(i+1,len(s)):
    if(s[i]==s[j]):
      print("duplicate ",s[j])

duplicate  e

In [2]:
mylist=[1,2,3,7,14]
target=9
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if(mylist[i]+mylist[j]==target):
      print(mylist[i],mylist[j])

2 7

In [3]:
mylist=[10,20,30,40,20,50,30]
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if(mylist[i]==mylist[j]):
      print("duplicate ",mylist[j])

duplicate  20
duplicate  30

In [5]:
mylist = [1, 2, 3, 5, 7, 11, 18]
target = 9
i = 0
end = len(mylist) - 1

while i < end:
    total = mylist[i] + mylist[end]
    if total > target:
        end -= 1
    elif total < target:
        i += 1
    else:
        print("Total of two values:", mylist[i], "+", mylist[end], "=", target)
        break

Total of two values: 2 + 7 = 9

In [6]:
data='SARAS'
i=0
end=len(data)-1
a=0
while i < end:  # Correct condition: loop while the left pointer is less than the right pointer
  if(data[i]!=data[end]):
    a=1
    break
  i=i+1
  end=end-1

if(a==0):
  print("palindrom")
else:
  print("not palindrom")

palindrom

In [ ]:
# 1. Write a Python program to find the maximum element in a list of numbers without
# max functions
# numbers = [10, 20, 4, 45, 99]
# The maximum element is: 99

In [7]:
mylist=[10,20,4,45,99]
max=mylist[0]
for i in range(0,len(mylist)):
  if(mylist[i]>max):
    max=mylist[i]
print(max)

99

In [10]:
# 2. Write a Python program to sum all the elements in a list of numbers.
# a. numbers = [10, 20, 30, 40]
# b. The sum of all elements is: 100



mylist=[10,20,30,40]
sum=0
for i in range(0,len(mylist)):
  sum=sum+mylist[i]
  # i=i+1
print(sum)

100

In [16]:
# 3. Write a Python program to reverse a list without reverse or slicing operator
# a. numbers = [1, 2, 3, 4, 5]
# b. Reversed list: [5, 4, 3, 2, 1]


mylist=[1,2,3,4,5]
rev_list=[]

for i in range(len(mylist)-1,-1,-1):
  rev_list.append(mylist[i])

print(rev_list)

[5, 4, 3, 2, 1]

In [19]:
# using slicing

numbers = [1, 2, 3, 4, 5]
reverse=numbers[::-1]
print(reverse)

[5, 4, 3, 2, 1]

In [20]:
# using while loop

numbers = [1, 2, 3, 4, 5]
rev=[]
i=len(numbers)-1

while(i>=0):
  rev.append(numbers[i])
  i=i-1

print(rev)

[5, 4, 3, 2, 1]

In [31]:
# 4. Write a Python program to sort a list in ascending order without sort functions

mylist=[58,25,45,69,85,45,74]

mylist.sort()

print(mylist)

[25, 45, 45, 58, 69, 74, 85]

In [36]:
# 5. Write a Python program to remove duplicates from a list while maintaining the order
# of elements.
# a. numbers = [1, 2, 2, 3, 4, 4, 5]

numbers=[1,2,2,3,4,4,5]
new=[]
duplicate=[]
for i in range(0,len(numbers)):
  if(numbers[i] not in new):
    new.append(numbers[i])
  elif(numbers[i] in new):
    duplicate.append(numbers[i])
print("new list",new)
print("duplicate",duplicate)

new list [1, 2, 3, 4, 5]
duplicate [2, 4]

In [37]:
# method 2

numbers = [1, 2, 2, 3, 4, 4, 5]
unique = []

for num in numbers:
    if num not in unique:
        unique.append(num)

print("List after removing duplicates:", unique)

List after removing duplicates: [1, 2, 3, 4, 5]

In [47]:
# 6. Write a Python program to find all pairs of numbers in a list that add up to a specific
# target sum.
# a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
# b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]

numbers = [1, 2, 3, 4, 3, 5, 6]
target= 6

for i in range(0,len(numbers)):
  for j in range(i+1,len(numbers)):
    if(numbers[i]+numbers[j]==target):
      print((numbers[i],numbers[j]))

(1, 5)
(2, 4)
(3, 3)

In [ ]:
# 7. Write a Python program to flatten a nested list (list within lists) into a single list.
# a. nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
# b. Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [58]:
# 8. Write a Python program to find the sum of the elements in a list, excluding the largest
# and smallest element. Don’t use max or min functions
# a. numbers = [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
max_val = numbers[0]
min_val = numbers[0]
total_sum = 0

for num in numbers:
  if num > max_val:
    max_val = num
  elif num < min_val:
    min_val = num
  total_sum += num

# Calculate the sum excluding the largest and smallest elements
sum_excluding_min_max = total_sum - max_val - min_val


print("maximum",max_val)
print("minimum",min_val)
print("Sum excluding max and min:", sum_excluding_min_max)

maximum 5
minimum 1

In [66]:
# 8. Write a Python program to find the sum of the elements in a list, excluding the largest
# and smallest element. Don’t use max or min functions
# a. numbers = [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
max_val = numbers[0]
min_val = numbers[0]
total_sum = 0

for num in numbers:
  if num > max_val:
    max_val = num
  elif num < min_val:
    min_val = num
  total_sum += num

# Calculate the sum excluding the largest and smallest elements
sum_excluding_min_max = total_sum - max_val - min_val


print("maximum",max_val)
print("minimum",min_val)
print("Sum excluding max and min:", sum_excluding_min_max)

maximum 5
minimum 1
Sum excluding max and min: 9