In [ ]:
# Introduction to Python

# Fundamentals of Python
# (1). Data types
# (2). Variables
# (3). Print() and input()

In [ ]:
# (1). Data types
# (a). Integer ----> 35 , -35
# (b). Float  ---> 13.57
# (c). String ---> '' , " " , ''' '''
# (d). Boolean  ----> True , False

In [ ]:
# (2). Variables ---> This is a container in which we can store or assign the values .
# Ex.
a = 5
b = 'sam'
c = 45.89

### here a,b,c = variables

# Types of Variables ----->
# (a). Global Variable ---> This is outside of code of block .
a = 5
b = ['sam' , 'raj']
# (b). Local Variable  ---> This is inside of code of block .
def my_add():
  a = 5
  b = 6
  c = a + b
  print(c)
my_add()

### here a,b ,c local variables .

def my_add(a,b):
  c = a + b
  print(c)
a = 5
b = 6
my_add(a,b)

## here a,b ---> global variable and c ---> local variable .

11
11

In [ ]:
# input() ----> This is pre-defined function of python that will take query from users and its output
# is stored in string format by default .

a = '1'
# type(a)
b = '2'
c = a + b
c

'12'

In [ ]:
a = input("Enter first number:")
b = input("Enter second number:")
c = a + b
c

Enter first number:85
Enter second number:78

'8578'

In [ ]:
# type-casting -----> Using this method , we can change one data-type value to another data type .

In [ ]:
a = 5
print(a)
print(type(a))
b = float(a)
print(b)
print(type(b))
c = str(b)
print(c)
print(type(c))

5
<class 'int'>
5.0
<class 'float'>
5.0
<class 'str'>

In [ ]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = a + b
c

Enter first number:25
Enter second number:45

70

In [ ]:
# print() ----> This is also a pre-defined function in python that will execute our query on the terminal .
a = 5
print(a)
b = 56.89
print(b)

5
56.89

In [ ]:
a = input("Enter first word:")
b = input("Enter second word:")
c = a + b
c

Enter first word:5
Enter second word:7

'57'

In [ ]:
# Most common used operators in python

# (1). Add(+) -----> 5+4 = 9
# (2). Substract(-) ---> 5-3 =2
# (3). Multiplication(*) ----> 5*2 = 10
# (4). Division(/) ---> 5/2 = 2.5
# (5). Floor Division(//) ---> 5//2
# (6). Module(%) ---> FOr Remainder Calculation ---> 25%10 = 5
# (7). Equal to (=) ---> for values assignment ---> a = 5
# (8). Equal Equal to(==) ---> for values comparison ---> 'sam'=='mohit'
# (9). Not Equal to(!=) ---> Not Equal to ---> 'sam'!='Mohit'
# (10). Greater thna (>) ---> 5>4
# (11). Less than (<) ---> 3<5
# (12). Greater than or Equal to (>=) ---> 5>=5
# (13). Less than or Equal to (<=) ---> 4<=5
# (14). Power(**) ---> 2**3 = 8

In [ ]:
# # Conditional Statement in python

# if

# elif           user_query

# else

In [ ]:
a = input("Enter name:")
if(a=='sam'):
  print('yes')
elif(a=='raj'):
  print('no')
else:
  print('try again...')

Enter name:sam
yes

In [ ]:
# Q.2 Write a program who tell user is child , young or old .

In [ ]:
a = int(input("Enter Number:"))
if(0<=a<=20):
  print("child")
elif(21<=a<=50):
  print("young")
elif(51<=a<=90):
  print("old")
else:
  print("Please enter valid age.....")

Enter Number:48
young

In [ ]:
# Q.3

In [ ]:
print("Pizaa-100 , Burgur-50 , Juice-20 , Biryani-100")
a = input("Enter your yummy item.....")

if (a == 'Biryani'):
  b = int(input("Enter total quantity:"))
  print("Your yummy item is Biryani.")
  c = b*100
  if (c>1000):
    print("Your 10% discounted price is" , c-(c*10/100))
  else:
      print("Your total bill is :" , c)

Pizaa-100 , Burgur-50 , Juice-20 , Biryani-100
Enter your yummy item.....biryani

In [ ]:
# que(1). wap that take a interger inpput from the user and check whether the number is odd or even.

In [ ]:
num=int(input("enter a number :"))

if(num%2==0):
  print("even")
else:
  print("odd")

enter a number :98
even

In [ ]:
# que(2).-wap that take three number as input and print the largest of three

In [ ]:
a=int(input("enter a number :"))
b=int(input("enter b number :"))
c=int(input("enter c number :"))

if(a>=b and a>=c):
  print("a is largest number",a)
elif(b>=a and b>=c):
  print("b is largest number",b)
elif(c>=a and c>=b):
  print("c is largest number",c)

enter a number :85
enter b number :45
enter c number :854
c is largest number 854

In [ ]:
# que(3).-Write a program to check if a given year is a leap year. A leap year is divisible by 4 but not by 100
# unless it is also divisible by 400.

In [ ]:
year=int(input("enter year :"))

if(year%400==0) or (year%4==0 and year%100!=0):
  print("leap year")
else:
  print("not a leap year")

enter year :20232
leap year

In [ ]:
# Q4 Write a program that takes a percentage (integer) as input and prints the corresponding grade based
# on the following criteria:
# >= 90: Grade A
# >= 80: Grade B
# >= 70: Grade C
# >= 60: Grade D
# < 60: Grade F

In [ ]:
per=int(input("enter your percent :"))

if(per>=90):
  print("grade A")
elif(per>=80):
  print("grade B")
elif(per>=70):
  print("grade C")
elif(per>=60):
  print("grade D")
elif(per<60):
  print("grade F")

enter your percent :62
grade D

In [ ]:
# Q5 Write a program that checks if a given letter is a vowel (a, e, i, o, u) or a consonant.

In [ ]:
letter=input("enter your letter :")

if(letter in 'aeiouAEIOU'):
  print("vowel")
else:
  print("consonant")

enter your letter :p
consonante

In [ ]:
# Q6 Write a basic calculator program that takes two numbers and an operator (+, -, *, /) as input and
# performs the specified operation. Print the result based on the operation.

In [ ]:
a=float(input("enter  a :"))
oper=input("enter operation (+,-,*,/) : ")
b=float(input("enter  b :"))

if(oper=='+'):
  print(a+b)
elif(oper=='-'):
  print(a-b)
elif(oper=='*'):
  print(a*b)
elif(oper=='/'):
  if(b!=0):
   print(a/b)
  else:
    print("cannot divided by zero")
else:
  print("invalid operator")

enter  a :8
enter operation (+,-,*,/) : /
enter  b :0
cannot divided by zero

In [ ]:
# Q7 Write a program that takes a number as input and checks whether it is positive, negative, or zero.

In [ ]:
num=int(input("enter a number"))

if(num>0):
  print("positive")
elif(num<0):
  print("negative")
else:
  print("zero")

enter a number8
positive

In [ ]:
# Q8 Write a program that checks if a username and password entered by the user match the pre-set values
# username = "admin" and password = "1234". If both match, print "Login Successful", otherwise print
# "Login Failed".

In [ ]:
username=input("enter username :")
password=input("enter password :")

if(username=="admin" and password=="1234"):
  print("login sucessful")

else:
  print("login failed")

enter username :admin
enter password :1234
login sucessful

In [ ]:
# Q9 Write a program that takes three sides of a triangle as input and checks if those sides form a valid
# triangle. A triangle is valid if the sum of any two sides is greater than the third side.
# Check conditions like a + b > c, b + c > a, and a + c > b.

In [ ]:
a=int(input("enter side a"))
b=int(input("enter side b"))
c=int(input("enter side c"))

if(a+b>c and b+c>a and a+c>b):
  print("valid tringle")
else:
  print("invalid tringle")

enter side a8
enter side b5
enter side c5
valid tringle

In [ ]:
# Q10 Write a program that calculates the Body Mass Index (BMI) based on user input for weight (in
# kilograms) and height (in meters). Then categorize the BMI into:
# Underweight (BMI < 18.5)
# Normal weight (18.5 <= BMI < 24.9)
# Overweight (25 <= BMI < 29.9)
# Obesity (BMI >= 30)
# Use the formula: BMI = weight / (height ** 2)

In [ ]:
# wap that calculate the discount for a product based on its price

In [ ]:
price=int(input("enter price"))

In [ ]:
# Q11 Write a program that calculates the discount for a product based on its price:
# If price is greater than 1000, discount is 10%
# If price is between 500 and 1000, discount is 5%
# Otherwise, no discount
# Print the final price after applying the discount.

In [ ]:
price=int(input("enter price :"))

if(price>1000):
  discount=0.10*price

elif(price>=500 and price<=1000):
  discount=0.05*price

else:
  discount=0

final_price=price-discount

print("discount applied:",discount)
print("final price:",final_price)

enter price :1452
discount applied: 145.20000000000002
final price: 1306.8

In [ ]:
# Q12 Write a program that takes the name of a month as input and prints the number of days in that
# month. Consider leap years for February.

In [ ]:
month=input("enter month name : ")

if(month in=="january","march","may","july","august","octomber","december"):
  print("31 days")
elif(month in=="april","june","september","novvember"):
  print("30 days")
elif(month=="febuary"):

enter month name : may
31 days

In [ ]:
# nested condiction----------> condiction ke ander condiction

In [ ]:
age=8
if(age>2):
  print("age is grater than 2")
  if(age==10):
    print("age is equal of 10")
  else:
    print("age is not eequal to 10")
else:
  print("age not grater then 2")

age is grater than 2
age is not eequal to 10

In [ ]:
a=4
if(a%2==0):
  print("number diveded by 2")
  if(a%5==0):
    print("number diveded by 21 and 5")
  else:
    print("number not dived by 5 but 2")
else:
  print("number not dived bby all ")

number diveded by 2
number not dived by 5 but 2

In [ ]:
gender="m"
salary=5000
if(gender=="m"):
  if(salary>2000):
   print("salary wala employed")
  else:
    print("self employed")
else:
  print("female")

salary wala employed

In [ ]:
data="a"
year=2028
if(data=='a' or data=='e' or data=='i' or data=='o' or data=='u' and year==2025):
  print(" data is vowel and year is 2025")
  if(data=='a' or data=='e' or data=='i' or data=='o' or data=='u' and year!=2025):
    print("data is vowel and year is not is 2025")
else:
  print("not a vowel")

 data is vowel and year is 2025
data is vowel and year is not is 2025

In [ ]:
data="a"
year=2028
if(data=='a' or data=='e' or data=='i' or data=='o' or data=='u'):
  if(year==2025):
    print("data is vowel and year is 2025")
  else:
    print("vowel but year is not 2025")
else:
  print("not a vowel")

vowel but year is not 2025

In [ ]:
data=8
year=2028
if(data%2==0):
  if(data%8==0):
    print("even and diveded by 8")
  else:
    print("even and not diveded by 8")
else:
  print("odd")

even and diveded by 8

In [ ]:
# loops ---->
# loops are used to repetatively exicute a task
# for
# iteration => for loop
# verna while

In [ ]:
# for i in range(1,10)
#
# range(start,stop)

In [ ]:
for i in range(1,6):
  print("hey",i)

hey 1
hey 2
hey 3
hey 4
hey 5

In [ ]:
# range(start,stop,[step=1])

for i in range(1,10,2):
  print("hey",i)

hey 1
hey 3
hey 5
hey 7
hey 9

In [ ]:
for i in range(7,1,-1):
  print("hey",i)

hey 7
hey 6
hey 5
hey 4
hey 3
hey 2

In [ ]:
for data in range(1,5):
  print(data)

1
2
3
4

In [ ]:
for data in range(1,5):
  if(data==2):
    print("dabang",data)
  print(data)

1
dabang 2
2
3
4

In [ ]:
# string indexing and slicing
# RAJASTHAN
# RAJASTHAN =>strring--collection of charcter
# SEQUENCE OF CHARECTER
# RAJASTHAN-
# ------4,-3,-2,-1   [NEGATIVE INDEXING]
# 0,1,2,3,4,5        [POSITIVE INDEXING]
#

In [ ]:
state='rajasthan'
print(state[1])

a

In [ ]:
state='rajasthan'
print(state[3])

a

In [ ]:
state='rajasthan'
print(state[5])

t

In [ ]:
state='rajasthan'
print(state[-3])

h

In [ ]:
state='rajasthan'
# slicing---extracting some portion of your data
# [start:stop:step]
# stop exclusive---[not include]

In [ ]:
state='RAJASTHAN'
state[0:4]

'RAJA'

In [ ]:
state='RAJASTHAN'
state[1:5]

'AJAS'

In [ ]:
state='RAJASTHAN'
state[2:2]

''

In [ ]:
state='RAJASTHAN'
state[2:5]

'JAS'

In [ ]:
# by defult sstep size 1

In [ ]:
state='RAJASTHAN'
state[0:4:1]

'RAJA'

In [ ]:
state='RAJASTHAN'
state[0:4:2]

'RJ'

In [ ]:
state='RAJASTHAN'
state[1:8:2]

'AATA'

In [ ]:
state='RAJASTHAN'
state[0:]

'RAJASTHAN'

In [ ]:
state='RAJASTHAN'
state[2:]

'JASTHAN'

In [ ]:
state='RAJASTHAN'
state[:4]

'RAJA'

In [ ]:
state='RAJASTHAN'
state[:6:2]

'RJS'

In [ ]:
state='RAJASTHAN'
state[-1:-4:-1]

'NAH'

In [ ]:
state='RAJASTHAN'
state[-4:-1:1]

'THA'

In [ ]:
for i in range(15,46):
  if(i%2==0):
    print("even",i)
  else:
    print("odd =>",i)

odd => 15
even 16
odd => 17
even 18
odd => 19
even 20
odd => 21
even 22
odd => 23
even 24
odd => 25
even 26
odd => 27
even 28
odd => 29
even 30
odd => 31
even 32
odd => 33
even 34
odd => 35
even 36
odd => 37
even 38
odd => 39
even 40
odd => 41
even 42
odd => 43
even 44
odd => 45

In [ ]:
for i in range(98,47,-1):
  if(i%2==0 and i%7==0):
    print(i)

98
84
70
56

In [ ]:
# to get the sum of puggy
piggy=0
for i in range(1,8):
  piggy=piggy+i
  print(i,piggy)

1 1
2 3
3 6
4 10
5 15
6 21
7 28

In [ ]:
sum=0
for i in range(3,27):
  if(i%4==0):
    sum=sum+i
    print(sum)

4
12
24
40
60
84

In [ ]:
# num=6
num=6
fact=1
for i in range(1,num+1):
  if(num%i==0):
    print(i)

1
2
3
6

In [ ]:
num=6
count=0
for i in range(1,num+1):
  if(num%i==0):
    count=count+1
print(count)

4

In [ ]:
state='goa'
for i in range(0,3):
  print(i,state[i])

0 g
1 o
2 a

In [ ]:
# itrable --ek aise datatype jis par dircet loop chala sakte ha

In [ ]:
state='goa'
for i in range(0,3):
  print(state[i])

g
o
a

In [ ]:
state='goa'
for i in state:
  if(i in 'aeiou'):
    print(i)

o
a

In [ ]:
# For Loop & While Loop ( Questions)

# 1. Write a program to print all natural numbers from 1 to n. – using while
# loop
# 2. Write a program to print all natural numbers in reverse (from n to 1). –
# using while loop
# 3. Write a program to print all alphabets from a to z.#  – using while loop
# 4. Write a program to print all even numbers between 1 to 100. – using
# while loop
# 5. Write a program to find the sum of all odd numbers between 1 to n.
# 6. Write a program to count the number of digits in a number.
# 7. Write a program to calculate the sum of digits of a number.
# 8. Write a program to find the first and last digit of a number.
# 9. Write a program to find the sum of first and last digit of a number.
# 10.Write a program to enter a number and print its reverse.
# 11.Write a program to find the power of a number using for loop.

In [ ]:
#  1. Write a program to print all natural numbers from 1 to n.
n=int(input("enter n number :"))

for i in range(1,n):
  print(i)

enter n number :10
1
2
3
4
5
6
7
8
9

In [ ]:
#  2. Write a program to print all natural numbers in reverse (from n to 1).

n=int(input("enter n number :"))

for i in range(n,0,-1):
  print(i)

enter n number :10
10
9
8
7
6
5
4
3
2
1

In [ ]:
# 3. Write a program to print all alphabets from a to z.

for i in range(ord('a'),ord('z')+1):
  print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
# 5. Write a program to find the sum of all odd numbers between 1 to n.
n=int(input("enter n number :"))
sum=0
for i in range(1,n):
  if(i%2!=0):
    sum=sum+i
print(sum)

enter n number :58
841

In [ ]:
# 6. Write a program to count the number of digits in a number.
num=input("enter number :")
for i in num:
  num=num%10
  count=count+1
  num=num//10
  print(count)

enter number :78547

TypeError: not all arguments converted during string formatting

Now, let's calculate the sum of digits of a number.

In [ ]:
# 6. Write a program to count the number of digits in a number.
count=0
num=int(input("enter a number :"))
while(num>0):
  digit=num%10
  count=count+1
  num=num//10
print(count)

enter a number :789321456
9

In [ ]:
# 7. Write a program to calculate the sum of digits of a number.
num = int(input("Enter a number: "))
sum_of_digits = 0
num_str = str(num)
for digit in num_str:
  sum_of_digits += int(digit)
print("Sum of digits:", sum_of_digits)

In [ ]:
# 7. Write a program to calculate the sum of digits of a number.

num=45878
sum=0
while num > 0:
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)

32

In [ ]:
# 8. Write a program to find the first and last digit of a number.

num=int(input("enter a number :"))

last_digit=num%10
while(num>=10):
  num=num//10
  first=num
print(first)
print(last_digit)

enter a number :7854
7
4

In [ ]:
# 9. Write a program to find the sum of first and last digit of a number.

num=int(input("enter a num :"))
last=num%10

while(num>=10):
  num=num//10
  first=num
print(first+last)
print(first)
print(last)

enter a num :78965
12
7
5

In [ ]:
# 10.Write a program to enter a number and print its reverse.

num=int(input("enter a number : "))

rev=0
while(num>0):
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

enter a number : 5432
2345

In [ ]:
# 11.Write a program to find the power of a number using for loop.

In [ ]:
ord('b')

98

In [ ]:
chr(66)

'B'

wile loop

In [ ]:
# while loop

# itraction nahi pata ho tab


# 1 se 100 tak------> use for loop

'''
for i in range( ):


while(condiction=>true):
  statement


'''

In [ ]:
i=1
while(i==1):
  print("hey")
  i=i+1

hey

In [ ]:
i=1
while(i<4):
  print("hey",i)
  i=i+1

hey 1
hey 2
hey 3

In [ ]:
# i=2
# while(i<=22):
#   if(i%2==0):
#     print(i)
#   i=i+1


  # method 2
i=2
while(i<=22):
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18
20
22

In [ ]:
#
i=47
while(i>=5):
  if(i%3==0):
    print(i)
  i=i-1

45
42
39
36
33
30
27
24
21
18
15
12
9
6

In [ ]:
i=1
num=7
while(i<=num):
  if(num%i==0):
    print(i)
  i=i+1

1
7

In [ ]:
num=7
for i in range(1,num+1):
  if(num%i==0):
    print(i)

1
7

In [ ]:
i=100
count=0
while(i>=49):
  if(i%2!=0):
    count=count+1
  i=i-1
print(count)

26

In [ ]:
data="raj"
for i in range(0,len(data)):
  print(i,data[i])

0 r
1 a
2 j

In [ ]:
data="rajiv"
i=0
while(i<len(data)):
  print(i,data[i])
  i=i+1

0 r
1 a
2 j
3 i
4 v

In [ ]:
data="rajiv"
i=0
while(i<len(data)):
  if data[i] in 'aeiou':
    print(data[i])
  i=i+1

a
i

In [ ]:
data="rajuv"
i=0
while(i<len(data)):
  if(data[i]=='a' or data[i]=='u'):
    print(data[i])
  i=i+1

a
u

In [ ]:
# prime number progra

num=7
factor=0
i=1
while(i<=num):
  if(num%i==0):
    factor=factor+1
  i=i+1
print(factor)

if(factor>2):
  print("not a prime")
else:
  print("prime number")

2
prime number

In [ ]:
# breck

start=1
while(start<=5):
  if(start==3):
    break
  print(start)
  start+=1

1
2

In [ ]:
# continoue

start=1
while(start<=5):
  if(start==3):
    start+=1
    continue
  print(start)
  start+=1

1
2
4
5

In [ ]:
num=8
i=2
while(i<num):
  print(i)
  i=i+1

2
3
4
5
6
7

In [ ]:
num=13
i=2
out=0
while(i<num):
  if(num%i==0):
    out=1
    break

  i=i+1

if(out==0):
  print("prime")
else:
  print("not a prime")

prime

In [ ]:
# to find wether is a sting palindrom or not

data="SARAS"
i=0
out=0
end=len(data)-1
while(i<len(data)-1):
  if(data[i]!=data[end]):
    out=2
    break

  i=i+1
  end-=1

if(out==0):
  print("palindrom")
else:
  print("not a palindrom")

palindrom

In [ ]:
s="saros"
if(s==s[::-1]):
  print("palindrom")
else:
  print("not a palindrom")

not a palindrom

In [ ]:
# 1. Write a program to print all natural numbers from 1 to n. – using while
# loop
# 2. Write a program to print all natural numbers in reverse (from n to 1). –
# using while loop
# 3. Write a program to print all alphabets from a to z. – using while loop
# 4. Write a program to print all even numbers between 1 to 100. – using
# while loop
# 5. Write a program to find the sum of all odd numbers between 1 to n.
# 6. Write a program to count the number of digits in a number.
# 7. Write a program to calculate the sum of digits of a number.
# 8. Write a program to find the first and last digit of a number.
# 9. Write a program to find the sum of first and last digit of a number.
# 10.Write a program to enter a number and print its reverse.
# 11.Write a program to find the power of a number using for loop.
# 12.Write a program to find all factors of a number.
# 13.Write a program to calculate the factorial of a number.
# 14.Write a program to find LCM of two numbers.
# 15.Write a program to check whether a number is Prime number or not.
# 16.Write a program to print all Prime numbers between 1 to n.
# 17.Write a program to find all prime factors of a number.
# 18.Write a program to check whether a number is an Armstrong number or
# not.
# a. An Armstrong number is a n-digit number that is equal to the sum
# of the nth power of its digits. For example –
# 6 = 61 = 6
# 371 = 33 + 73 + 13 = 371

# 19.Write a program to check whether a number is Strong number or not
# a. Strong number is a special number whose sum of factorial digits is
# equal to the original number.
# For example: 145 is a strong number. Since, 1! + 4! + 5! = 145
# 20.Write a program to check whether a number is perfect number or not

# a. Perfect number is a positive integer which is equal to the sum of
# its proper positive divisors.
# For example: 6 is the first perfect number
# Proper divisors of 6 are 1, 2, 3
# Sum of its proper divisors = 1 + 2 + 3 = 6.
# Hence 6 is a perfect number.

# 21.Write a program to print fibonacci series upto n terms
# a. Fibonacci series is a series of numbers where the current number
# is the sum of the previous two terms. For Example: 0, 1, 1, 2, 3, 5,
# 8, 13, 21, ... , (n-1th + n-2th)

# 22.Write a program to find ones complement of a binary number
# a. One's complement of a binary number is defined as value
# obtained by inverting all binary bits. It is the result of swapping all
# 1s to 0s and all 0s to 1s.

# b.

In [ ]:
# 1. Write a program to print all natural numbers from 1 to n. – using while
# loop

num=int(input("enter a number :"))
i=1
while(i<=num):
  print(i)
  i=i+1

enter a number :22
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [ ]:
# 2. Write a program to print all natural numbers in reverse (from n to 1). –
# using while loop

num=int(input("enter a number :"))
i=num
while(i>=1):
  print(i)
  i=i-1

enter a number :5
5
4
3
2
1

In [ ]:
# 3. Write a program to print all alphabets from a to z. – using while loop

i=65
while(i<91):
  print(chr(i),end="")
  i=i+1

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [ ]:
# 4. Write a program to print all even numbers between 1 to 100. – using

i=1
while(i<=100):
  if(i%2==0):
    print(i)
  i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# 5. Write a program to find the sum of all odd numbers between 1 to n.

num=int(input("enter a number :"))
i=1
sum=0
while(i<=num):
  if(i%2!=0):
    sum=sum+i
  i=i+1
print(sum)

enter a number :5
9

In [ ]:
# 6. Write a program to count the number of digits in a number.
num=45687
count=0
while(num>0):
  digit=num%10
  count=count+1
  num=num//10
print(count)

5

In [ ]:
# 7. Write a program to calculate the sum of digits of a number.

num=785
sum=0
while(num>0):
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)

20

In [ ]:
# 8. Write a program to find the first and last digit of a number.

num = 7859


last = num % 10

first = num
while first >= 10:
    first = first // 10

print("First digit:", first)
print("Last digit:", last)

First digit: 7
Last digit: 9

In [ ]:
# 9. Write a program to find the sum of first and last digit of a number.

num=4587

last=num%10

first=num
while(first>=10):
  first=first//10

print(first,last,first+last)

4 7 11

In [ ]:
# 10.Write a program to enter a number and print its reverse.

num=int(input("enter a number :"))
rev=0
while(num>0):
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

enter a number :7896
6987

In [ ]:
# 11.Write a program to find the power of a number using for loop.


num=int(input("enter a number :"))
power=int(input("enter power of  a number  :"))
i=1
result=1
while(i<=power):
  result=result*num
  i=i+1
print(result)

enter a number :2
enter power of  a number  :3
8

In [ ]:
# 12.Write a program to find all factors of a number.

num=int(input("enter a number :"))
i=1
while(i<=num):
  if(num%i==0):
    print("facter",i)
  i=i+1

enter a number :8
facter 1
facter 2
facter 4
facter 8

In [ ]:
from re import I
# 13.Write a program to calculate the factorial of a number.

num=int(input("enter a number :"))
fact=1
i=1
while(i<=num):
  fact=fact*i
  i=i+1
print(fact)

enter a number :5
120

In [ ]:
# 14.Write a program to find LCM of two numbers.

a=int(input("enter a number "))
b=int(input("enter b number "))

while(b!=0):
  a,b=b,a%b
  gcd=a
print("gcd",gcd)

enter a number 8
enter b number 4
gcd 4

In [ ]:
#lcm using gcd

a=int(input("enter a number "))
b=int(input("enter b number "))

x=a
y=b

while(b!=0):
  a,b=b,a%b
gcd=a
lcm=(x*y)//gcd

print("gcd",a)
print("lcm",lcm)

enter a number 8
enter b number 4
gcd 4
lcm 8

In [ ]:
# 15.Write a program to check whether a number is Prime number or not.

num=int(input("enter a number "))
i=1
factor=0
while(i<=num):
  if(num%i==0):
    factor=factor+1
  i=i+1

if(factor>2):
  print("not a prime")
else:
  print("prime")

enter a number 8
not a prime

In [ ]:
# usint 2nd method

num=int(input("enter a number "))
i=2
x=0
while(i<num):
  if(num%i==0):
    x=1
    break
  i=i+1
if(x==0):
  print("prime numeber ")
else:
   print("not a prime")

enter a number 7
prime numeber

In [ ]:
num=int(input("enter a number "))
i=2
x=0
while(i<num):
  if(num%i==0):
    x=1
    break
  i=i+1
if(x==0):
  print("prime numeber ")
else:
   print("not a prime")

enter a number 7
prime numeber  7

In [ ]:
# 16.Write a program to print all Prime numbers between 1 to n.

In [ ]:
# 17.Write a program to find all prime factors of a number.

In [ ]:
# 18.Write a program to check whether a number is an Armstrong number or
# not.
# a. An Armstrong number is a n-digit number that is equal to the sum
# of the nth power of its digits. For example –
# 6 = 61 = 6
# 371 = 33 + 73 + 13 = 371

num=153
x=num
total=0
while(num>0):
  rem=num%10
  num=num//10
  total=total+rem**3
  print(rem**3,num,total)

if(total==x):
  print("armstrong")

27 15 27
125 1 152
1 0 153
armstrong

In [ ]:
for num in range(150, 401):
    total = 0
    x = num
    temp = num  # use a separate variable so that original num is not lost

    while temp > 0:
        rem = temp % 10
        temp = temp // 10
        total = total + rem ** 3

    if total == x:
        print("--armstrong--", x)

--armstrong-- 153
--armstrong-- 370
--armstrong-- 371

In [ ]:
# method 2

for num in range(1, 1001):
    order = len(str(num))
    sum = 0
    temp = num

    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10

    if num == sum:
        print(num, "is an Armstrong number")

1 is an Armstrong number
2 is an Armstrong number
3 is an Armstrong number
4 is an Armstrong number
5 is an Armstrong number
6 is an Armstrong number
7 is an Armstrong number
8 is an Armstrong number
9 is an Armstrong number
153 is an Armstrong number
370 is an Armstrong number
371 is an Armstrong number
407 is an Armstrong number

In [ ]:
# 19.Write a program to check whether a number is Strong number or not
# a. Strong number is a special number whose sum of factorial digits is
# equal to the original number.
# For example: 145 is a strong number. Since, 1! + 4! + 5! = 145

num = int(input("Enter a number: "))
temp = num
sum = 0

while temp > 0:
    digit = temp % 10
    fact = 1
    i = 1
    while i <= digit:
        fact = fact * i
        i += 1
    sum += fact
    temp = temp // 10

if sum == num:
    print(num, "is a Strong number.")
else:
    print(num, "is not a Strong number.")

--armstrong-- 153
--armstrong-- 370
--armstrong-- 371

In [ ]:
num = int(input("Enter number: "))
x = num
total = 0

while num > 0:
    rem = num % 10

    # Calculate factorial of rem
    fact = 1
    i = 1
    while i <= rem:
        fact = fact * i
        i += 1

    total = total + fact
    num = num // 10

    print(fact, num, total)  # Print: factorial, num left, total sum

if total == x:
    print("Strong number")
else:
    print("Not a Strong number")

In [ ]:
# 20.Write a program to check whether a number is perfect number or not

# a. Perfect number is a positive integer which is equal to the sum of
# its proper positive divisors.
# For example: 6 is the first perfect number
# Proper divisors of 6 are 1, 2, 3
# Sum of its proper divisors = 1 + 2 + 3 = 6.
# Hence 6 is a perfect number.


num = int(input("Enter a number: "))
total = 0

# Proper divisors loop (excluding number itself)
for i in range(1, num):
    if num % i == 0:
        total += i

# Check if perfect
if total == num:
    print(num, "is a Perfect Number.")
else:
    print(num, "is not a Perfect Number.")

Enter a number: 745
745 is not a Perfect Number.

In [ ]:
for num in range(1, 1001):
    total = 0
    for i in range(1, num):
        if num % i == 0:
            total += i
    if total == num:
        print(num, "is a Perfect Number")

6 is a Perfect Number
28 is a Perfect Number
496 is a Perfect Number

In [ ]:
# 21.Write a program to print fibonacci series upto n terms
# a. Fibonacci series is a series of numbers where the current number
# is the sum of the previous two terms. For Example: 0, 1, 1, 2, 3, 5,
# 8, 13, 21, ... , (n-1th + n-2th)


n = int(input("Enter number of terms: "))

a = 0
b = 1
count = 0

print("Fibonacci Series:")

while count < n:
    print(a, end=" ")
    c = a + b       # अगली संख्या = पिछले दो का योग
    a = b           # पहला नंबर अब दूसरा बन जाएगा
    b = c           # दूसरा नंबर अब नया योग बन जाएगा
    count += 1      # count बढ़ाते रहेंगे

Enter number of terms: 5
Fibonacci Series:
0 1 1 2 3

In [ ]:

# 22.Write a program to find ones complement of a binary number
# a. One's complement of a binary number is defined as value
# obtained by inverting all binary bits. It is the result of swapping all
# 1s to 0s and all 0s to 1s.

In [ ]:
# narcissists number

num = int(input("Enter a number: "))
order = len(str(num))
sum = 0
temp = num

while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp = temp // 10

if sum == num:
    print(num, "is a Narcissistic Number.")
else:
    print(num, "is not a Narcissistic Number.")

Enter a number: 12321
12321 is not a Narcissistic Number.

In [ ]:
# finding wether is a numbeer prime or not

num=7
i=1
factor=0
while(i<=num):
  if(num%i==0):
    factor=factor+1
  i=i+1
print(factor)

if(factor>2):
  print("not a prime number")
else:
  print("prime number")

2
prime number

In [ ]:
# method 2 nd

num=8
i=2
x=0
while(i<num):
  if(num%i==0):
    x=1
    break
  i+=1

if(x==0):
  print("prime")
else:
   print("not prime")

not prime

In [ ]:
num=13
x=0
for i in range(2,num):
  if(num%i==0):
    x=1
    break
  i+=1

if(x==0):
  print("prime")
else:
   print("not prime")

prime

In [ ]:
# wether a string palindrom or not

s="saras"
i=0
end=len(s)-1
out=0

while(i<len(s)-1):
  if(s[i]!=s[end]):
    out=1
    break
  i=i+1
  end=end-1

if(out==0):
  print("palindrom")
else:
  print("not a palindrom")

palindrom

In [ ]:
# member ship operator
# IDENTITY OPERATOR

#ki koi data kisi or data ka part ha ya nahi

'h'in "hello"

True

In [ ]:
'h' not in "HELLO"

True

In [ ]:
# identity operator
# to check wether koi or varible kisi class ko belong karta ha

In [ ]:
x=10
type(x) is int

True

In [ ]:
x="10"
type(x) is int

False

In [ ]:
x="10"
type(x) is not int

True

In [ ]:
# call by value

x=10
print("value of x=>",x, id(x))
a=x
print("value of a=>",a, id(a))

a=99
print("value of a=>",a, id(a),x,id(x))

value of x=> 10 10758024
value of a=> 10 10758024
value of a=> 99 10760872 10 10758024

In [ ]:
# python ma int,string,tuple,float  immutable datatype hote ha

In [ ]:
# python call by object reference folloe karta ha

In [ ]:
# bitwise operator

10 & 14    # and

10

In [ ]:
10 | 14   # or

14

In [ ]:
# nested loop

for i in range(1,4):
  print("student",i)
  for j in range(1,5):
    print("subject==>",j)

student 1
subject==> 1
subject==> 2
subject==> 3
subject==> 4
student 2
subject==> 1
subject==> 2
subject==> 3
subject==> 4
student 3
subject==> 1
subject==> 2
subject==> 3
subject==> 4

In [ ]:
for i in range(1,4):
  print("student",i)
  for j in range(4,0,-1):
    print("subject==>",j)

student 1
subject==> 4
subject==> 3
subject==> 2
subject==> 1
student 2
subject==> 4
subject==> 3
subject==> 2
subject==> 1
student 3
subject==> 4
subject==> 3
subject==> 2
subject==> 1

In [ ]:
for i in range(4,0,-1):
  print("student",i)
  for j in range(4,0,-1):
    print("subject==>",j)

student 4
subject==> 4
subject==> 3
subject==> 2
subject==> 1
student 3
subject==> 4
subject==> 3
subject==> 2
subject==> 1
student 2
subject==> 4
subject==> 3
subject==> 2
subject==> 1
student 1
subject==> 4
subject==> 3
subject==> 2
subject==> 1

In [ ]:
for i in range(1,4):
  print("student",i)
  for j in range(1,i+1):
    print("subject==>",j)

student 1
subject==> 1
student 2
subject==> 1
subject==> 2
student 3
subject==> 1
subject==> 2
subject==> 3

In [ ]:
for i in range(1,4):
  print("student",i)
  for j in range(i,5):
    print("subject==>",j)

student 1
subject==> 1
subject==> 2
subject==> 3
subject==> 4
student 2
subject==> 2
subject==> 3
subject==> 4
student 3
subject==> 3
subject==> 4

In [2]:
for i in range(1,4):
  print("student",i)
  for j in range(i,6-i):
    print("subject==>",j)

student 1
subject==> 1
subject==> 2
subject==> 3
subject==> 4
student 2
subject==> 2
subject==> 3
student 3

In [9]:

for j in range(1,6):
  for i in range(1,11):
    print(j*i)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [15]:

a=0
for num in range(2,8):
  for i in range(2,num):
    if(num%i==0):
      a=1
      break
  if(a==0):
    print("prime",num)
  else:
    print("not prime",num)

prime 2
prime 3
not prime 4
not prime 5
not prime 6
not prime 7

In [16]:
for num in range(400,451):
  total=0
  orignal=num
  while(num>0):
    rem=num%10
    num=num//10
    total=total+rem
  print("total=>",orignal,total)

total=> 400 4
total=> 401 5
total=> 402 6
total=> 403 7
total=> 404 8
total=> 405 9
total=> 406 10
total=> 407 11
total=> 408 12
total=> 409 13
total=> 410 5
total=> 411 6
total=> 412 7
total=> 413 8
total=> 414 9
total=> 415 10
total=> 416 11
total=> 417 12
total=> 418 13
total=> 419 14
total=> 420 6
total=> 421 7
total=> 422 8
total=> 423 9
total=> 424 10
total=> 425 11
total=> 426 12
total=> 427 13
total=> 428 14
total=> 429 15
total=> 430 7
total=> 431 8
total=> 432 9
total=> 433 10
total=> 434 11
total=> 435 12
total=> 436 13
total=> 437 14
total=> 438 15
total=> 439 16
total=> 440 8
total=> 441 9
total=> 442 10
total=> 443 11
total=> 444 12
total=> 445 13
total=> 446 14
total=> 447 15
total=> 448 16
total=> 449 17
total=> 450 9

In [23]:
for num in range(150,401):
  orignal=num
  total=0
  while(num>0):
    rem=num%10
    total=total+rem**3
    num=num//10

  if(orignal==total):
    print("arrmstrong",orignal)

arrmstrong 153
arrmstrong 370
arrmstrong 371

In [24]:
for i in range(1,4):
  print("student",i)
  for j in range(1,5):
    print("subject",j,end=" ")
  print(" ")

student 1
subject 1 subject 2 subject 3 subject 4
student 2
subject 1 subject 2 subject 3 subject 4
student 3
subject 1 subject 2 subject 3 subject 4

In [27]:
for i in range(1,5):
  for j in range(1,5):
    print("*",end=" ")
  print(" ")

* * * *
* * * *
* * * *
* * * *

In [29]:
for i in range(1,5):
  for j in range(1,5):
    print(j,end=" ")
  print(" ")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [32]:
for i in range(1,5):
  for j in range(1,5):
    print(i,end=" ")
  print(" ")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [41]:
for i in range(3,0,-1):
  for j in range(1,5):
    print(i,end=" ")
  print(" ")

3 3 3 3
2 2 2 2
1 1 1 1

In [42]:
x=3
for i in range(1,4):
  for j in range(1,5):
    print(x,end=" ")
  x=x-1
  print(" ")

3 3 3 3
2 2 2 2
1 1 1 1

In [47]:
x=9
for i in range(1,4):
  for j in range(1,4):
    print(x,end=" ")
    x=x-1
  print(" ")

9 8 7
6 5 4
3 2 1

In [48]:
x=1
for i in range(1,4):
  for j in range(1,4):
    print(x,end=" ")
    x=x+1
  print(" ")

1 2 3
4 5 6
7 8 9

In [49]:

for i in range(1,4):
  x=2
  for j in range(1,4):
    print(x,end=" ")
    x=x+1
  print(" ")

2 3 4
2 3 4
2 3 4

In [2]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*" ,end=" ")
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [3]:
for i in range(1,6):
  for j in range(1,i+1):
    print(5 ,end=" ")
  print(" ")

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5

In [8]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j ,end=" ")
  print(" ")

1
1 2
1 2 3

In [10]:
num=7
for i in range(1,4):
  for j in range(1,i+1):
    print(num ,end=" ")
    num=num+1
  print(" ")

7
8 9
10 11 12

In [11]:
num=7
for i in range(1,4):
  for j in range(1,i+1):
    print(num ,end=" ")
    num=num-1
  print(" ")

7
6 5
4 3 2

In [13]:
num=7
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
    num=num-1
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [14]:
num=7
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end=" ")
    num=num-1
  print(" ")

1
2 2
3 3 3
4 4 4 4

In [17]:
num=7
for i in range(1,5):
  for j in range(i,i-1):
    print(i,end=" ")
    num=num-1
  print(" ")

In [19]:
num=1
for i in range(1,5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print(" ")

1
2 3
4 5 6
7 8 9 10

In [27]:
for i in range(4,0,-1):
  for i in range(i):
    print("*",end="")
  print(" ")

****
***
**
*

In [34]:
num=1
for i in range(4,0,-1):
  for i in range(i):
    print(num,end=" ")
    num=num+1
  print(" ")

1 2 3 4
5 6 7
8 9
10

In [48]:

for i in range(4,0,-1):
  num=4
  for i in range(i):
    print(num,end=" ")
    num=num-1
  print(" ")

4 3 2 1
4 3 2
4 3
4

In [51]:
for i in range(4,0,-1):
  num=1
  for i in range(i):
    print(num,end=" ")
    num=num+1
  print(" ")

1 2 3 4
1 2 3
1 2
1

In [62]:

num=1
for i in range(1,5):
  for i in range(1,i-1):
    print(j,end=" ")
  print(" ")

4
4 4

In [74]:
for i in range(1,4):
  num=65
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num=num+1
  print(" ")

A
A B
A B C

In [76]:
for i in range(1,5):
  num=65
  for j in range(i,5):
    print(chr(num),end=" ")
    num=num+1
  print(" ")

A B C D
A B C
A B
A

In [77]:
for i in range(1,5):
  for i in range(i,4):
    print("-",end="")
  print(" ")

---
--
-

In [79]:
for i in range(1,5):
  for i in range(1,5-i):
    print("-",end="")
  print(" ")

---
--
-

In [80]:
for i in range(1,5):
  for i in range(1,i+1):
    print("*",end="")
  print(" ")

*
**
***
****

---***
--**
-*
****

In [88]:
for i in range(1,5):
  for j in range(1,5-i):
    print("-",end="")
  for j in range(1,i+1):
    print("*",end=" ")

  print(" ")

---*
--**
-***
****

In [91]:
for i in range(1,5):
  for j in range(1,5-i):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end=" ")

  print(" ")

   *
  * *
 * * *
* * * *

In [102]:
for i in range(1,5):
  for j in range(0,i-1):
    print("-",end=" ")
  for j in range(5-i):
    print("*",end=" ")

  print(" ")

* * * *
- * * *
- - * *
- - - *

In [101]:
for i in range(1,5):
  for j in range(1,i):
    print("-",end=" ")
  for k in range(i,5):
    print("*",end=" ")

  print(" ")

* * * *
- * * *
- - * *
- - - *

In [105]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [106]:
for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==5 or i==j):
     print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

*
* *
*   *
*     *
* * * * *

In [113]:
for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==5 or i==j):
     print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

*
* *
*   *
*     *
* * * * *

In [115]:
for i in range(1,7):
  for j in range(i,7):
    if(j==1 or i==6 or i==j):
     print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

*
*
*
*
*
*

In [117]:
for i in range(1,5):
  for j in range(1,5-i):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

   *
  * *
 * * *
* * * *

In [119]:
for i in range(1,5):
  for j in range(0,i-1):
    print(" ",end=" ")
  for j in range(5-i):
    print("*",end=" ")

  print(" ")

* * * *
  * * *
    * *
      *

In [120]:
for i in range(1,5):
  for j in range(i,4):
    print("_",end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

___*
__* *
_* * *
* * * *

In [4]:
for i in range(1,5):
  for j in range(i,4):
    print("-",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print(" ")

---*
--* *
-* * *
* * * *

In [12]:
for i in range(1,5):
  for j in  range(1,i):
    print("-",end="")
  for k in range(i,5):
    print("*",end=" ")
  print(" ")

* * * *
-* * *
--* *
---*

In [16]:
num=1
for i in range(1,5):
  for j in  range(1,i):
    print("-",end="")
  for k in range(i,5):
    print(num,end=" ")
    num=num+1
  print(" ")

1 2 3 4
-5 6 7
--8 9
---10

In [ ]:
num=1
for i in range(1,5):
  for j in  range(1,i):
    print("-",end="")
  for k in range(i,5):
    print(num,end=" ")
    num=num+1
  print(" ")

In [30]:
for k  in range(3,0,-1):
  for l in range(i):
    print("*",end=" ")
  print(" ")

* * *
* *
*

In [ ]:
# list

In [37]:
my_list=[10,20,30,67,10,2,6,8,15,1,2,3,4,5,6,44]
new_list=[]
for i in range(0,len(my_list)):
  if(my_list[i]>10):
    print(my_list[i])

20
30
67
15
44

In [39]:
my_list = [10, 20, 30, "hey", "naina", 10, "29"]

for i in range(len(my_list)):
    if type(my_list[i]) == int:
        print(my_list[i])

10
20
30
10

In [44]:
my_list=[10,20,30,15,6,7,8,999]
max=my_list[0]
for i in range(0,len(my_list)):
  if(my_list[i]>0):
    max=my_list[i]
print(max)

999

In [43]:
my_list=[10,20,30,15,6,7,8,999]
min=my_list[0]
for i in range(0,len(my_list)):
  if(my_list[i]<min):
    min=my_list[i]
print(min)

6

In [48]:
my_list=[10,20,30,15,6,7,8,999]
sum=0
total=0
for i in range(0,len(my_list)):
  sum=sum+my_list[i]
  total=total+1
  avg=sum/total
print("sum is",sum,"total is ",total,"avarge is",avg)

sum is 1095 total is  8 avarge is 136.875

In [70]:
 lis = ["hello", "saini", "murari", "lal", "sankhala"]
count = 0
for i in range(0, len(lis)):
    if(len(lis[i]) >4):
        count = count + 1
print(count)

4

In [67]:
lis = ["hllo", "hey", "user", "aman", "ujjwal"]
count = 0
for i in range(0, len(lis)):
    if len(lis[i]) < 4:
        count = count + 1
        print(count)

1